<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>
श्री अम्बा जी की आरती</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>
श्री अम्बा जी की आरती</span>
                  </div>
                  
                  <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library//fab6d9e7-39d2-4d30-ab98-fc7e5d4de1de.png" alt=""></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>
श्री अम्बा जी की आरती</h4></br></a>मां अम्बा दुर्गा जी का ही एक स्वरूप हैं। मान्यता है कि जो भी व्यक्ति श्रद्धा और विश्वास से भरकर माता की आरती करता है, उसे माँ का आशीर्वाद अवश्य मिलता है।

इस आरती को भजन-कीर्तन, रात्रि-जागरण और जगराते में अक्सर गाया जाता है। फिर भी कुछ विशेष पर्वों पर इसका गायन अधिक होता है। माना जाता है कि इस आरती से माता की विशेष कृपा प्राप्त होती है।</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"><h1 style= color:black>
श्री अम्बा जी की आरती</h1></a><br/>
               
<h3><strong>॥ आरती श्री अम्बा जी ॥</strong></h3>
<p>जय अम्बे गौरी, मैया जय श्यामा गौरी।<br/>
तुमको निशिदिन ध्यावत,<br/>
हरि ब्रह्मा शिवरी॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>जय अम्बे गौरी, मैया जय श्यामा गौरी।<br/>
तुमको निशिदिन ध्यावत,<br/>
हरि ब्रह्मा शिवरी॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>माँग सिन्दूर विराजत,<br/>
टीको मृगमद को,<br/>
मैया टीको मृगमद को।<br/>
उज्जवल से दो‌उ नैना,<br/>
चन्द्रवदन नीको॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>कनक समान कलेवर,<br/>
रक्ताम्बर राजै,<br/>
मैया रक्ताम्बर राजै।<br/>
रक्तपुष्प गल माला,<br/>
कण्ठन पर साजै॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>केहरि वाहन राजत,<br/>
खड्ग खप्परधारी,<br/>
मैया खड्ग खप्परधारी।<br/>
सुर-नर-मुनि-जन सेवत,<br/>
तिनके दुखहारी॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>कानन कुण्डल शोभित,<br/>
नासाग्रे मोती,<br/>
मैया नासाग्रे मोती।<br/>
कोटिक चन्द्र दिवाकर,<br/>
सम राजत ज्योति॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>शुम्भ-निशुम्भ बिदारे,<br/>
महिषासुर घाती,<br/>
मैया महिषासुर घाती।<br/>
धूम्र विलोचन नैना,<br/>
निशिदिन मदमाती॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>चण्ड-मुण्ड संहारे,<br/>
शोणित बीज हरे,<br/>
मैया शोणित बीज हरे।<br/>
मधु-कैटभ दो‌उ मारे,<br/>
सुर भयहीन करे॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>ब्रहमाणी रुद्राणी<br/>
तुम कमला रानी,<br/>
मैया तुम कमला रानी।<br/>
आगम-निगम-बखानी,<br/>
तुम शिव पटरानी॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>चौंसठ योगिनी मंगल गावत,<br/>
नृत्य करत भैरूं,<br/>
मैया नृत्य करत भैरूं,<br/>
बाजत ताल मृदंगा,<br/>
अरु बाजत डमरु॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>तुम ही जग की माता,<br/>
तुम ही हो भरता,<br/>
मैया तुम ही हो भरता।<br/>
भक्‍तन की दु:ख हरता,<br/>
सुख सम्पत्ति करता॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>भुजा चार अति शोभित,<br/>
वर-मुद्रा धारी,<br/>
मैया वर-मुद्रा धारी।<br/>
मनवान्छित फल पावत,<br/>
सेवत नर-नारी॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>कंचन थाल विराजत,<br/>
अगर कपूर बाती,<br/>
मैया अगर कपूर बाती।<br/>
श्रीमालकेतु में राजत,<br/>
कोटि रतन ज्योति॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>श्री अम्बेजी की आरती,<br/>
जो को‌ई नर गावै,<br/>
मैया जो को‌ई नर गावै।<br/>
कहत शिवानन्द स्वामी,<br/>
सुख सम्पत्ति पावै॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
<p>जय अम्बे गौरी, मैया जय श्यामा गौरी।<br/>
तुमको निशिदिन ध्यावत,<br/>
हरि ब्रह्मा शिवरी॥<br/>
<strong>ओम जय अम्बे गौरी॥</strong></p>
                  
                  
                 
   </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>


  </body>

</html>