<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="/">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li><a href="/contact-us">Contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6></h6>
          <h2>BLOGs</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                 <!--  <li data-filter="*"  class="active">All Meetings</li>
                  <li data-filter=".soon">Soon</li>
                  <li data-filter=".imp">Important</li>
                  <l -->i data-filter=".att">Attractive</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="jyotirlinga"><img src="https://i.pinimg.com/736x/62/d7/8a/62d78a2f031bbb62fcf36b419bbd188b.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6> <span></span></h6>
                      </div>
                      <a href="jyotirlinga"><h4>12 Jyotirlinga Anushthan</h4></a>
                      <p>The name of the Jyotirlinga of Lord Shiva is Jyoti-Pind. Shivling has 12 sections. It is described in Shiva Purana that Brahma, Maya, Jiva, mind, intellect, chitta, ego, sky, air, fire, water and earth are called Jyoti-Pind or Jyotirlinga. Also, according to our Puranas, the Shivalinga located at the twelve places where Lord Shiva appeared are worshiped as Jyotirlingas.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all imp">
                  <div class="meeting-item">
                    <div class="thumb">
                     <!--  <a href="meeting-details.html"><img src="https://th.bing.com/th/id/OIP._Rn0J9C2D8rjnXoL2IksUwAAAA?rs=1&pid=ImgDetMain" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        --> <!-- <h6>Nov <span>14</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>श्री गायत्री माता की आरती</h4></a>
                      <p>जय गायत्री माता आरती गायत्री माता की सबसे प्रसिद्ध आरती में से एक है।आरती को करने से मनुष्य को धर्म, अर्थ, काम और मोक्ष की प्राप्ति होती है और उनको उत्तम गति मिल जाती है। </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library/41938266-2799-4e7c-b7d8-7692aad832d8.png" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>16</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>विश्वकर्मा जी की आरती</h4></a>
                      <p>भगवान विश्वकर्मा जी को दुनिया का सबसे पहला इंजीनियर और वास्तुकार माना जाता है। इसीलिए विश्वकर्मा जयंती के दिन सभी कारखानों, दुकानों और कार्यालयों में स्थित मशीनों की पूजा की जाती है।</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library/8be07e90-6dd2-44f0-80f7-2f85bc8af287.png" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>18</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>श्री शिवरात्रि आरती</h4></a>
                      <p>शिवरात्रि का अर्थ होता है, वह रात्रि जो आनंद प्रदायिनी है और जिसका शिव के साथ विशेष संबंध है। मान्यता है कि जहां-जहां भी शिवलिंग स्थापित है,उस स्थान पर भगवान शिव का आगमन होता है।</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="https://i.ytimg.com/vi/PZA1UOdnqX4/maxresdefault.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>22</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>श्री विष्णु जी की आरती</h4></a>
                      <p>भगवान विष्णु की आरती करते हुए उनसे प्रार्थना करनी चाहिए कि वो हमारे जीवन के सभी संकटों से मुक्ति प्रदान करें। सच्चे मन से की गई स्तुति एवं आरती से भगवान शीघ्र ही प्रसन्न होते हैं</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library/fab6d9e7-39d2-4d30-ab98-fc7e5d4de1de.png" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>24</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>श्री अम्बा जी की आरती</h4></a>
                      <p>मां अम्बा दुर्गा जी का ही एक स्वरूप हैं। मान्यता है कि जो भी व्यक्ति श्रद्धा और विश्वास से भरकर माता की आरती करता है, उसे माँ का आशीर्वाद अवश्य मिलता है।</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all imp att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library/5519257b-4bc0-4f04-ae8c-514543cc05e5.png" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>27</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>श्री हनुमान जी की आरती</h4></a>
                      <p>हनुमान जी को कलयुग के सभी संतापों को हरने वाला बताया जाता है। हनुमान जी पूजा के दौरान आरती करने से वह बहुत प्रसन्न होते हैं और साधक को मनचाहा वरदान देते हैं।</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all soon imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library/b0b62630-5d42-48dc-8f8c-c5fa51c6891f.png" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>28</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>मां सरस्वती जी की आरती</h4></a>
                      <p>माता सरस्वती की बुद्धि, विद्या और ज्ञान की देवी के रूप में आराधना की जाती है। जो व्यक्ति मां सरस्वती की पूजा, आरती निष्ठा पूर्वक करता है उसे बुद्धि व विद्या की प्राप्ति होती है।</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all att soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="https://i.ytimg.com/vi/VFgoQlnwBzI/maxresdefault.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>30</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>सत्यनारायण जी की आरती</h4></a>
                      <p>भगवान सत्यनाराण जी, विष्णु जी का ही एक रूप हैं। घर पर भगवान सत्यनारायण जी की आरती सुननें से जातक के शारीरिक और मानसिक स्वास्थ्य में सुधार होता है।</p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="pagination">
                <ul>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <!-- <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
          <br>
          Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p> -->
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>