<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Chalisa Collection for Hindu Gods">
  <meta name="author" content="Divine Connect">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Divine Connect - Hindu Chalisas</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/lightbox.css">
</head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Connect Spiritually with <em> Divine Chalisas</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Area -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- Logo -->
            <a href="/" class="logo">
              Divine Connect
            </a>
            <!-- Menu -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li><a href="panchang">Panchang</a></li>
              <li><a href="astrology">Astrology</a></li>
               <li class="has-sub">
        <a href="javascript:void(0)">Library</a>
        <ul class="sub-menu">
            <li><a href="aarti">Aarti</a></li>
            <li><a href="chalisa">Chalisa</a></li> 
          
            <li><a href="meeting-details.html">Mantra</a></li>
            <li><a href="meeting-details.html">Puja</a></li>
            <li><a href="meeting-details.html">Vedic Astrology</a></li>
        </ul>
             
              <li><a href="featured-puja">Featured Puja</a></li>
              <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                <ul class="sub-menu">
                  <li><div id="google_translate_element"></div></li>
                </ul>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Section -->
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Explore the Divine Chalisas</h6>
          <h2>Durga Chalisa & More</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter="*" class="active">All Chalisas</li>
                  <li data-filter=".durga">Durga Chalisa</li>
                  <li data-filter=".hanuman">Hanuman Chalisa</li>
                  <li data-filter=".shiv">Shiv Chalisa</li></br></br>
                  <li data-filter=".lakshmi">Lakshmi Chalisa</li>
                  <li data-filter=".ganesh">Ganesh Chalisa</li>
                  <li data-filter=".saraswati">Saraswati Chalisa</li>
                  <li data-filter=".ram">Ram Chalisa</li>
                  <li data-filter=".krishna">Krishna Chalisa</li>
                  
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="col-lg-4 templatemo-item-col all durga">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="durga-chalisa"><img src="https://srm-cdn.a4b.io/images/library/286dc6d1-61b3-447b-a170-dd65a9fec37c.png" alt="Durga Chalisa"></a>
                    </div>
                    <div class="down-content">
                      <a href="durga-chalisa"><h4>श्री दुर्गा चालीसा</h4></a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all hanuman">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="hanuman-chalisa"><img src="https://srm-cdn.a4b.io/images/library/e2d23c12-3f6d-461f-96b1-b757b22270f3.png" alt="Hanuman Chalisa"></a>
                    </div>
                    <div class="down-content">
                      <a href="hanuman-chalisa"><h4> श्री हनुमान चालीसा </h4></a>
                     
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all shiv">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="shiv-chalisa"><img src="https://srm-cdn.a4b.io/images/library/09d0af6d-f0c6-424a-8079-757e7e885ff9.png" alt="Shiv Chalisa"></a>
                    </div>
                    <div class="down-content">
                      <a href="shiv-chalisa"><h4>श्री शिव चालीसा<h4></a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all lakshmi">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="lakshmi-chalisa"><img src="https://srm-cdn.a4b.io/images/library/ebdc863d-d1f1-4b00-9313-aa2f9107827f.png" alt="Lakshmi Chalisa"></a>
                    </div>
                    <div class="down-content">
                      <a href="lakshmi-chalisa"><h4>श्री महालक्ष्मी चालीसा</h4></a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all ganesh">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="ganesh-chalisa"><img src="https://srm-cdn.a4b.io/images/library/b9c2f4be-657b-413e-9f2d-b0cdda1a540b.png" alt="Ganesh Chalisa"></a>
                    </div>
                    <div class="down-content">
                      <a href="ganesh-chalisa"><h4>श्री गणेश चालीसा<h4></a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all saraswati">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="saraswati-chalisa"><img src="https://srm-cdn.a4b.io/images/library/bdb3479e-af2c-4c59-9217-7a7a3699fb93.png" alt="Saraswati Chalisa"></a>
                    </div>
                    <div class="down-content">
                      <a href="saraswati-chalisa"><h4>श्री सरस्वती चालीसा</h4></a>
                     
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all ram">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="ram-chalisa"><img src="https://srm-cdn.a4b.io/images/library/6fa8cd9c-cc00-46ac-905f-8f50ffff9367.png" alt="Ram Chalisa"></a>
                    </div>
                    <div class="down-content">
                      <a href="ram-chalisa"><h4>श्री राम चालीसा</h4></a>
                     
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all krishna">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="krishna-chalisa"><img src="https://srm-cdn.a4b.io/images/library/9be18db5-3cd1-40a0-ba44-35a6ed4f2e7e.png" alt="Krishna Chalisa"></a>
                    </div>
                    <div class="down-content">
                      <a href="krishna-chalisa"><h4>श्री कृष्ण चालीसा</h4></a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all shani">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="shani-chalisa"><img src="https://srm-cdn.a4b.io/images/library/e10194b9-83ae-4bdb-acda-f9e9bc50588c.png" alt="Shani Chalisa"></a>
                    </div>
                    <div class="down-content">
                      <a href="shani-chalisa"><h4>श्री शनि देव चालीसा</h4></a>
                                 
                    </div>
                
                    </div>
                   
             
                </div>
                <!-- Additional Chalisas can continue to be added here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2024 Divine Connect. All Rights Reserved.
        <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
        <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
      </p>
    </div>
  </section>

  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/lightbox.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>