<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>देवी दुर्गा के मंत्र - Divine Connect</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
</head>

<body>
    <!-- Sub Header -->
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <div class="left-content">
                        <p>Pray Daily With <em>Divine Connect</em>.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="right-icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-language"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="/" class="logo">Divine Connect</a>
                        <ul class="nav">
                            <li><a href="#top" class="active">Home</a></li>
                            <li><a href="panchang">Panchang</a></li>
                            <li><a href="astrology">Astrology</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Library</a>
                                <ul class="sub-menu">
                                    <li><a href="aarti.html">Aarti</a></li>
                                    <li><a href="chalisa.html">Chalisa</a></li>
                                    <li><a href="mantra.html">Mantra</a></li>
                                    <li><a href="puja.html">Puja</a></li>
                                    <li><a href="vedic-astrology.html">Vedic Astrology</a></li>
                                </ul>
                            </li>
                            <li><a href="featuredpuja">Featured Puja</a></li>
                            <li><a href="contact-us">Contact Us</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                                <ul class="sub-menu">
                                    <li><div id="google_translate_element"></div></li>
                                </ul>
                            </li>
                        </ul>
                        <a class='menu-trigger'><span>Menu</span></a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Heading Section -->
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>देवी दुर्गा के मंत्र</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Content Section -->
    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="meeting-single-item">
                        <div class="thumb">
                            <div class="price">
                                <span>देवी दुर्गा के मंत्र</span>
                            </div>
                            <img src="https://srm-cdn.a4b.io/images/library/6d724317-4aaa-46cc-a352-9774f9ab89b4.png" alt="देवी दुर्गा के मंत्र">
                        </div>
                        <div class="down-content">
                            <a href="meeting-details.html"><h4>मां दुर्गा के मंत्र: अर्थ और लाभ</h4></a>
                            <p>मान्यता है कि अगर प्रत्येक शुक्रवार के दिन मां दुर्गा के मंत्रों का जाप सच्चे मन से किया जाए तो व्यक्ति को विशेष फल की प्राप्ति होती है। यह अत्यंत कल्याणकारी होता है।</p>
                            <p>इस लेख में हम आपको दुर्गा माता के कुछ विशेष मंत्रों के बारे में बता रहे हैं, जिनके उच्चारण से जीवन भय एवं बाधारहित हो जाता है। साथ ही समस्त सुखों की प्राप्ति होती है। आइए पढ़ते हैं मां दुर्गा के ये 4 प्रिय मंत्र।</p>

                            <br><h3><strong>सर्व मंगल मंत्र</strong></h3><br>
                            <blockquote><p><strong>सर्व मंगल मांगल्ये शिवे सर्वार्थ साधिके। शरण्ये त्र्यम्बके गौरी नारायणि नमोस्तुते॥</strong></p></blockquote>
                            <p><strong>मंत्र का अर्थ:</strong> हे नारायणी! तुम सब प्रकार का मंगल प्रदान करने वाली मंगलमयी हो। कल्याण दायिनी शिवा हो। सब पुरुषार्थो को सिद्ध करने वाली, शरणागत वत्सला, तीन नेत्रों वाली एवं गौरी हो। हे मां तुम्हें हमारा नमस्कार है।</p>
                            <p><strong>मंत्र का लाभ:</strong></p>
                            <ul>
                                <li>यह मंत्र इतना शुभ है कि इसे किसी भी शुभ कार्य को करने से पहले माता की वंदना स्वरूप में इस मंत्र का पठन किया जाता है।</li>
                                <li>नवरात्रि की आठवीं शक्ति महागौरी को समर्पित यह मंत्र अत्यंत शुभ, सौभाग्य और समृद्धि प्रदान करने वाला है।</li>
                                <li>विवाह हो या मां दुर्गा की रस्में, यह मंत्र हर जगह सुनाई देगा।</li>
                                <li>देवी दुर्गा का यह मंत्र भय और बुरी शक्तियों का नाश कर, सभी बाधाओं को दूर कर कार्य में सिद्धि प्रदान करता हैं।</li>
                            </ul>

                            <br><h3><strong>मंगलकारी महाकाली मंत्र</strong></h3><br>
                            <blockquote><p><strong>ॐ जयंती मंगला काली भद्रकाली कपालिनी। दुर्गा क्षमा शिवा धात्री स्वाहा स्वधा नमोऽस्तु‍ते॥</strong></p></blockquote>
                            <p><strong>मंत्र का अर्थ:</strong> जयंती, मंगला, काली, भद्रकाली, कपालिनी, दुर्गा, क्षमा, शिवा धात्री और स्वधा नामों से प्रसिद्ध जगदंबे आपको मेरा नमस्कार है।</p>
                            <p><strong>मंत्र का लाभ:</strong></p>
                            <ul>
                                <li>इस मंत्र के जाप से जन्म-मरण और संसार के बंधन से मुक्ति मिलती है, सभी शत्रु पर विजय प्राप्त होती है।</li>
                                <li>ऐसा माना जाता है कि यह मंत्र प्रतिदिन सुनने अथवा इसका जाप करने से, आपके अंदर साहस, शक्ति एवं सामर्थ्य का विकास होता है।</li>
                            </ul>

                            <br><h3><strong>दुर्गा गायत्री मंत्र</strong></h3><br>
                            <blockquote><p><strong>ॐ गिरिजाय च विद्महे, शिवप्रियाय च धीमहि। तन्नो दुर्गा प्रचोदयात्॥</strong></p></blockquote>
                            <p><strong>मंत्र का अर्थ:</strong> हिमालय राज की पुत्री और भगवान शिवजी की प्रिया जिनका नाम गिरिजा है, जो विशेष बुद्धि की धारक हैं ऐसी दुर्गा मां का हम ध्यान करते है, और उन मां दुर्गा को प्रणाम करते है। माता हमें अपनी शरण में लें।</p>
                            <p><strong>मंत्र का लाभ:</strong></p>
                            <ul>
                                <li>इस मंत्र के साथ माता की साधना करने से साधक के जीवन में आत्मविश्वास बहुत बढ़ जाता है।</li>
                                <li>किसी भी परिस्थिति में कठिन से कठिन कार्य को आसानी से पूरा करने में सक्षम होता है।</li>
                            </ul>

                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
  

     <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>

    <!-- Scripts -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>