<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6></h6>
          <h2>  ॥ श्री गणेश चालीसा ॥</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>  ॥ श्री गणेश चालीसा ॥<</span>
                  </div>
                  
                  <a href="ganesh-chalisa.html"><img src="https://srm-cdn.a4b.io/images/library/b9c2f4be-657b-413e-9f2d-b0cdda1a540b.png" alt="Ganesh Chalisa"></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>  ॥ श्री गणेश चालीसा ॥</h4></a>
                  <p>
गणेश चालीसा भगवान गणेश को समर्पित 40 पदों का स्तोत्र है, जो विघ्नहर्ता और बुद्धि के देवता की महिमा का वर्णन करता है। इसके पाठ से भक्तों को जीवन के सभी कष्टों, विघ्नों, और बाधाओं से मुक्ति मिलती है, और वे सुख, समृद्धि और सफलता की प्राप्ति करते हैं। गणेश चालीसा का नियमित पाठ करने से ज्ञान, विवेक, और निर्णय लेने की क्षमता में वृद्धि होती है, जिससे व्यक्ति को मानसिक शांति और संतुलन मिलता है। यह भगवान गणेश की कृपा से कार्यों में सफलता, परिवार में सुख-शांति, और समस्त इच्छाओं की पूर्ति का माध्यम बनता है।





</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"></a>
               <h3><strong>  ॥ श्री गणेश चालीसा ॥</strong></h3><br/>
                   <h3>
    <br><br>
  जय गणेश ज्ञान गुण सागर।<br>
  जय कपिल सुत दिव्य वेश धारी॥<br>
  जय गजवदन गणनायक स्वामी।<br>
  संत जनों के तुम हो रक्षक॥<br><br>
  
  जय गजानन सिद्धि विनायक।<br>
  कृपा सिंधु धन धान्य के दाता॥<br>
  विद्या बुद्धि के तुम हो दाता।<br>
  विश्व विनायक तव सुख कारी॥<br><br>

  जय गजानन विनायक स्वामी।<br>
  वरद मूर्ति तुम हो हितकारी॥<br>
  मंगल कारण तुम हो ध्याता।<br>
  शरणागत जन के दुख नाशी॥<br><br>

  विघ्न हरन मंगल करन तुम हो।<br>
  शुभ का काम तुमारी कृपा से॥<br>
  जय जय श्री गणेश भगवान।<br>
  हर लेते हो सबका दुख।<br><br>

  संकट के नाशक गजानन।<br>
  कृपा कर हरो सबका दुख॥<br>
  कर जोड़ी नित्य विनती करूँ।<br>
  संकट को दूर करो॥<br><br>

  तुम्हें धरूँ ध्यान प्रभु नित ही।<br>
  विघ्न हरो प्रभु श्री विनायक।<br>
  तुम बिन विनायक कौन उपकारी।<br>
  जय गणेश तुम्हें ध्यावें॥<br><br>

  संकट के हरता मंगल कारी।<br>
  जय गणपति गौरी नंदन॥<br>
  मंगल कारण हो सुख दाता।<br>
  सुख संपत्ति के दाता॥<br><br>

  ध्यायें जो भक्त तुमको नित ही।<br>
  संकट के विनाशक विघ्नेश्वर॥<br>
  जय गणेश गोरी नंदन।<br>
  तुम हो विघ्न विनाशक प्रभु॥<br><br>

  जय गणेश तुम्हें ध्यावें जो।<br>
  संकट हरन मंगल कारी॥<br>
  जय गणेश गिरिजा सुत।<br>
  संकट को हर लेने वाले॥<br><br>

  ॥ दोहा ॥<br><br>
  जय गणेश जय गणेश देवा।<br>
  मातु जानकी हरि सदा पूजें॥<br>
  बुद्धि बल दे, विद्याधन दे।<br>
  संकट हरो विघ्नेश्वर॥
</h3></div>
                  
                  
                 
    </script>
    </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>


  </body>

</html>