<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>श्री गणेश जी के मंत्र - Divine Connect</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
</head>

<body>
    <!-- Sub Header -->
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <div class="left-content">
                        <p>Pray Daily With <em>Divine Connect</em>.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="right-icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-language"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="/" class="logo">Divine Connect</a>
                        <ul class="nav">
                            <li><a href="#top" class="active">Home</a></li>
                            <li><a href="panchang">Panchang</a></li>
                            <li><a href="astrology">Astrology</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Library</a>
                                <ul class="sub-menu">
                                    <li><a href="aarti.html">Aarti</a></li>
                                    <li><a href="chalisa.html">Chalisa</a></li>
                                    <li><a href="mantra.html">Mantra</a></li>
                                    <li><a href="puja.html">Puja</a></li>
                                    <li><a href="vedic-astrology.html">Vedic Astrology</a></li>
                                </ul>
                            </li>
                            <li><a href="featuredpuja">Featured Puja</a></li>
                            <li><a href="contact-us">Contact Us</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                                <ul class="sub-menu">
                                    <li><div id="google_translate_element"></div></li>
                                </ul>
                            </li>
                        </ul>
                        <a class='menu-trigger'><span>Menu</span></a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Heading Section -->
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>श्री गणेश जी के मंत्र</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Content Section -->
    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="meeting-single-item">
                        <div class="thumb">
                            <div class="price">
                                <span>श्री गणेश जी के मंत्र</span>
                            </div>
                            <img src="https://srm-cdn.a4b.io/images/library/884d873d-ccac-4420-93de-61ce3747d14c.png" alt="श्री गणेश जी के मंत्र">
                        </div>
                        <div class="down-content">
                            <a href="meeting-details.html"><h4>श्री गणेश जी के मंत्र: अर्थ और लाभ</h4></a>
                            <p>हिंदू धर्म और सनातन संस्कृति में श्री गणेश को प्रथम-पूज्य देवता माना गया है। भगवान श्री गणेश धन, बुद्धि, लक्ष्मी के दाता हैं।</p>
                            <p>वे विघ्नों का हरण कर जीवन में शुभता देते हैं जिससे सभी कार्य निर्विघ्न पूर्ण हो जाते हैं। यहां हम श्री गणेश के मंत्र एवं उनके अर्थ के बारे में बता रहे हैं।</p>

                            <br><h3><strong>सर्व शक्तिशाली गणेश मंत्र</strong></h3><br>
                            <blockquote><p><strong>वक्रतुण्ड महाकाय सूर्यकोटि समप्रभ। निर्विघ्नं कुरु मे देव सर्वकार्येषु सर्वदा॥</strong></p></blockquote>
                            <p><strong>मंत्र का अर्थ:</strong> जिनकी सूंड वक्र यानी की टेढ़ी है, जिनका शरीर विशालकाय है, जिनकी आभा करोड़ों सूर्यों से बढ़कर है। ऐसे भगवान श्री गणेश हमेशा ही मेरे सभी कार्यों को निर्विघ्न और सफलता पूर्वक सम्पन्न होने का आशीष प्रदान करें।</p>
                            <p><strong>मंत्र का लाभ:</strong> इस मंत्र का जाप कार्य में सफलता दिलाता है।</p>

                           <br><h3><strong>श्री गणेश मूल मंत्र</strong></h3><br>
                            <blockquote><p><strong>ॐ गं गणपतये नमः।</strong></p></blockquote>
                            <p><strong>मंत्र का अर्थ:</strong> हे समस्त गणों के अधिपति श्री गणेश, आपको मेरा नमस्कार हो।</p>
                            <p><strong>मंत्र का लाभ:</strong> इस मंत्र का जाप नई शुरुआत में सफलता दिलाता है।</p>

                           <br> <h3><strong>श्री गणेश गायत्री मंत्र</strong></h3><br>
                            <blockquote><p><strong>ॐ एकदंताय विद्महे वक्रतुण्डाय धीमहि। तन्नो दन्ती प्रचोदयात्॥</strong></p></blockquote>
                            <p><strong>मंत्र का अर्थ:</strong> जिनका एक दांत और मनोहर मुख है, जो अपने शरणागत भक्तजनों के रक्षक हैं, उनका नमन है।</p>
                            <p><strong>मंत्र का लाभ:</strong> इस मंत्र के जाप से करियर में सफलता मिलती है।</p>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>

    <!-- JS Files -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/custom.js"></script>

</body>

</html>