<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>श्री गणेश जी की आरती</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>श्री गणेश जी की आरती</span>
                  </div>
                  <div class="date">
                    <h6>Nov <span>12</span></h6>
                  </div>
                  <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library//2fd447a4-2c25-4b15-b617-70242cdb6124.png" alt=""></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>श्री गणेश जी की आरती</h4></a>
                  <p>श्री गणेश जी की आरती
श्री गणेश जी की आरती
पढ़ें भगवान श्री गणेश जी की आरती

श्री गणेश जी आरती संग्रह
भगवान गणेश सभी देवों में प्रथम पूज्य देव हैं। बप्पा की पूजा से मनुष्य को यश, वैभव और ज्ञान की प्राप्ति होती है। हिंदू धर्म में सभी देवों की पूजा के बाद आरती की जाती है।

मान्यता है श्री गणेश जी की आरती से वे शीघ्र प्रसन्न होते हैं और भक्तों को मनोकामना पूर्ति का आशीर्वाद देते हैं। यहां हम श्री गणेश के 3 प्रसिद्ध आरतियाँ जय गणेश जय गणेश, जय गणेश देवा, सुखकर्ता दुखहर्ता और सेंदुर लाल चढ़ायो का संकलन दे रहे हैं। जिन्हें आप किसी भी अनुष्ठान में श्री गणेश की आरती के दौरान पढ़ सकते हैं।</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"><h1 style= color:black>श्री गणेश जी की आरती</h1></a><br/>
               <h3><strong>आरती - जय गणेश जय गणेश, जय गणेश देवा।</strong></h3><br/>
<p>जय गणेश जय गणेश, जय गणेश देवा।<br/>
माता जाकी पार्वती, पिता महादेवा॥</p>
<p>एक दंत दयावंत, चार भुजा धारी।<br/>
माथे सिंदूर सोहे, मूसे की सवारी॥<br/>
<strong>जय गणेश जय गणेश, जय गणेश देवा।<br/>
माता जाकी पार्वती, पिता महादेवा॥</strong></p>
<p>पान चढ़े फूल चढ़े और चढ़े मेवा।<br/>
लड्डुअन का भोग लगे, संत करें सेवा॥<br/>
<strong>जय गणेश जय गणेश, जय गणेश देवा।<br/>
माता जाकी पार्वती, पिता महादेवा॥</strong></p>
<p>अंधन को आंख देत, कोढ़िन को काया।<br/>
बांझन को पुत्र देत, निर्धन को माया ॥<br/>
<strong>जय गणेश जय गणेश, जय गणेश देवा।<br/>
माता जाकी पार्वती, पिता महादेवा ॥</strong></p>
<p>‘सूर’ श्याम शरण आए, सफल कीजे सेवा ।<br/>
माता जाकी पार्वती, पिता महादेवा ॥<br/>
<strong>जय गणेश जय गणेश, जय गणेश देवा।<br/>
माता जाकी पार्वती, पिता महादेवा ॥</strong></p>
<p>दीनन की लाज रखो, शंभु सुतकारी ।<br/>
कामना को पूर्ण करो, जाऊं बलिहारी ॥<br/>
<strong>जय गणेश जय गणेश, जय गणेश देवा।<br/>
माता जाकी पार्वती, पिता महादेवा ॥</strong></p><br>
<h3><strong>आरती - सुखकर्ता दुखहर्ता</strong></h3><br>
<p>सुखकर्ता दुखहर्ता वार्ता विघ्नाची,<br/>
नुरवी पूर्वी प्रेम कृपा जयाची।<br/>
सर्वांगी सुंदर उटी शेंदुराची,<br/>
कंठी झळके माळ मुक्ताफळाची।।<br/>
जय देव जय देव जय मंगलमूर्ती,<br/>
दर्शनमात्रे मनकामना पुरती।<br/>
<strong>जय देव जय देव ||</strong></p>
<p>रत्नखचित फरा तुज गौरीकुमरा,<br/>
चंदनाची उटी कुमकुम केशरा।<br/>
हीरे जडित मुकुट शोभतो बरा,<br/>
रुणझुणती नूपुरे चरणी घागरिया।।<br/>
जय देव जय देव, जय मंगल मूर्ति,<br/>
दर्शनमात्रे मनःकमाना पूर्ति।<br/>
<strong>जय देव जय देव।</strong></p>
<p>लम्बोदर पीताम्बर फनिवर वंदना,<br/>
सरळ सोंड वक्रतुंडा त्रिनयना।<br/>
दास रामाचा वाट पाहे सदना,<br/>
संकटी पावावे निर्वाणी रक्षावे सुरवर वंदना।।<br/>
जय देव जय देव, जय मंगल मूर्ति,<br/>
दर्शनमात्रे मनःकमाना पूर्ति।<br/>
<strong>जय देव जय देव।</strong></p><br>
<h3><strong>आरती - शेंदुर लाल चढायो</strong></h3><br>
<p>शेंदुर लाल चढायो अच्छा गजमुखको।<br/>
दोंदिल लाल बिराजे सुत गौरीहरको॥<br/>
हाथ लिये गुडलड्डू साई सुरवरको।<br/>
महिमा कहे न जाय लागत हूँ पदको॥<br/>
<strong>जय जय श्री गणराज विद्या सुखदाता।<br/>
धन्य तुम्हारा दर्शन मेरा मन रमता॥</strong></p>
<p>अष्टी सिद्धी दासी संकटको बैरी।<br/>
विघ्नविनाशन मंगलमूरत अधिकाई॥<br/>
कोटीसुरजप्रकाश ऐसी छबि तेरी।<br/>
गंडस्थलमदमस्तक झुले शशिबहारी॥<br/>
<strong>जय जय श्री गणराज विद्या सुखदाता।<br/>
धन्य तुम्हारा दर्शन मेरा मन रमता॥</strong></p>
<p>भावभगतिसे कोई शारणागत आवे।<br/>
संतति संपति सबही भरपूर पावे।<br/>
ऐसे तुम महाराज मोको अति भवे <br/>
गोसावीनंदन निशिदिन गुण गावे॥<br/>
<strong>जय जय श्री गणराज विद्या सुखदाता।<br/>
धन्य तुम्हारा दर्शन मेरा मन रमता॥</strong></p></div>
                  
                  
                 
    </script>
</body>


  </body>

</html>