<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>श्री गायत्री माता की आरती</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>श्री गायत्री माता की आरती</span>
                  </div>
                  
                  <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library//148f28a6-7230-451d-905e-7ffd857f4ab1.png" alt=""></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>श्री गायत्री माता की आरती</h4></a>
                  <p>जय गायत्री माता आरती गायत्री माता की सबसे प्रसिद्ध आरती में से एक है। यह प्रसिद्ध आरती माता से सम्बन्धित अधिकांश अवसरों पर गायी जाती है।

शास्त्रानुसार नित्य, नैमित्तिक और काम्य-कर्म सिद्धि के लिए गायत्री माता की आरती और गायत्री मंत्र से बढ़कर कोई मन्त्र नहीं माना जाता है। आरती को करने से मनुष्य को धर्म, अर्थ, काम और मोक्ष की प्राप्ति होती है और उनको उत्तम गति मिल जाती है।

</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"><h1 style= color:black>श्री गायत्री माता की आरती</h1></a><br/>
               
<h3><strong>।।आरती श्री गायत्री माता।।</strong></h3>
<p>जयति जय गायत्री माता, जयति जय गायत्री माता।<br/>
सत् मार्ग पर हमें चलाओ, जो है सुखदाता॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>
<p>आदि शक्ति तुम अलख निरंजन जग पालन कर्ता।<br/>
दु:ख शोक, भय, क्लेश कलश दारिद्र दैन्य हत्री॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>
<p>ब्रह्म रूपिणी, प्रणात पालिन जगत धातृ अम्बे।<br/>
भव भयहारी, जन-हितकारी, सुखा जगदम्बे॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>
<p>भय हारिणी, भवतारिणी, अनघे आनन्द राशि।<br/>
अविकारी, अखहरी, अविचलित, अमले, अविनाशी॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>
<p>कामधेनु सतचित आनन्द जय गंगा गीता।<br/>
सविता की शाश्वती, शक्ति तुम सावित्री सीता॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>
<p>ऋग, यजु साम, अथर्व प्रणयनी, प्रणव महामहिम।<br/>
कुण्डलिनी सहस्त्र सुषुमन शोभा गुण गरिमे॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>
<p>स्वाहा, स्वधा, शची ब्रह्माणी राधा रुद्राणी।<br/>
जय शतरूपा, वाणी, विद्या, कमला कल्याणी॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>
<p>जननी हम हैं दीन-हीन, दुःख-दरिद्र के घेरे।<br/>
यदपि कुटिल, कपटी कपूत तउ बालक हैं तेरे॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>
<p>स्नेह सनी करुणामय माता चरण शरण दीजै।<br/>
बिलख रहे हम शिशु सुत तेरे दया दृष्टि कीजै॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>
<p>काम, क्रोध, मद, लोभ, दम्भ, दुर्भाव द्वेष हरिये।<br/>
शुद्ध बुद्धि निष्पाप हृदय मन को पवित्र करिये॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>
<p>जयति जय गायत्री माता, जयति जय गायत्री माता।<br/>
सत् मार्ग पर हमें चलाओ, जो है सुखदाता॥<br/>
<strong>॥ जयति जय गायत्री माता…॥</strong></p>                  
</script></div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>



  </body>

</html>