<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>श्री हनुमान जी की आरती</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>श्री हनुमान जी की आरती</span>
                  </div>
                  
                  <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library//5519257b-4bc0-4f04-ae8c-514543cc05e5.png" alt=""></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>श्री हनुमान जी की आरती</h4></a><br>हनुमान जी को कलयुग के सभी संतापों को हरने वाला बताया जाता है। हनुमान जी पूजा के दौरान आरती करने से वह बहुत प्रसन्न होते हैं और साधक को मनचाहा वरदान देते हैं।

कहते हैं कि वीर हनुमान जी की आरती करने से हर प्रकार के दुख, संकट, दारिद्रय और भय का नाश हो जाता है एवं घर-परिवार में सुख-समृद्धि के साथ आरोग्य का वास होता है।

</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"><h1 style= color:black>श्री हनुमान जी की आरती</h1></a><br/>
               
<h3><strong>॥ आरती श्री हनुमान जी॥</strong></h3>
<p>आरती कीजै हनुमान लला की।<br/>
दुष्ट दलन रघुनाथ कला की॥<br/>
<strong>आरती कीजै हनुमान लला की।।</strong></p>
<p>जाके बल से गिरिवर कांपे।<br/>
रोग दोष जाके निकट न झांके॥<br/>
अंजनि पुत्र महा बलदाई।<br/>
संतन के प्रभु सदा सहाई॥<br/>
<strong>आरती कीजै हनुमान लला की।।</strong></p>
<p>दे बीरा रघुनाथ पठाए।<br/>
लंका जारि सिया सुधि लाए॥<br/>
लंका सो कोट समुद्र-सी खाई।<br/>
जात पवनसुत बार न लाई॥<br/>
लंका जारि असुर संहारे।<br/>
सियारामजी के काज सवारे॥<br/>
<strong>आरती कीजै हनुमान लला की।।</strong></p>
<p>लक्ष्मण मूर्छित पड़े सकारे।<br/>
आनि संजीवन प्राण उबारे॥<br/>
पैठि पाताल तोरि जम-कारे।<br/>
अहिरावण की भुजा उखारे॥<br/>
बाएं भुजा असुरदल मारे।<br/>
दाहिने भुजा संतजन तारे॥<br/>
<strong>आरती कीजै हनुमान लला की।।</strong></p>
<p>सुर नर मुनि आरती उतारें।<br/>
जय जय जय हनुमान उचारें॥<br/>
कंचन थार कपूर लौ छाई।<br/>
आरती करत अंजना माई॥<br/>
जो हनुमान जी की आरती गावे।<br/>
बसि बैकुण्ठ परम पद पावे॥<br/>
<strong>आरती कीजै हनुमान लला की।।</strong></p>
<p>आरती कीजै हनुमान लला की।<br/>
दुष्ट दलन रघुनाथ कला की॥<br/>
<strong>आरती कीजै हनुमान लला की।।</strong></p>
                  
                  
</div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>



  </body>

</html>