

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>        /* Custom styling to align the profile picture */
        .profile-pic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;            
        }
        .modal-dialog {
            position: fixed;
            top: 10%;
            right: 10px;
            margin: 0;
            width: 300px; /* Adjust as needed */
        }</style>

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li></li>  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="aarti">Aarti</a></li>
                                  <li><a href="chalisa">Chalisa</a></li>
                                  <li><a href="mantra">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="blog">Blog</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li>
                          
                          
                          </li>
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                                
                            </ul>
                            <li>
                            <img th:src= "${photo}" alt="Profile Picture" class="profile-pic" data-bs-toggle="modal" data-bs-target="#profileModal">
                            
                            
                            
                            
                            </li>
                        </li>
                        
                      </ul> 
      
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="assets/images/dc.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>Hello Devotees</h6>
              <h2>Welcome to Divine Connect</h2>
              <p>Thist is Platform where We Provide Best Puja Experience With Verified And Experienced Pandits.</p>
              <p>Divine connect is your one-step solution for Puka Havan And Astrology.</p>
              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Book Pandit Now!</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Read Festival Details</h4>
                <p>You Can Also Read Our Festivals Details Which are upcomming.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="https://www.svgrepo.com/show/447926/calender.svg" alt="">
              </div>
              <div class="down-content">
                <h4>Panchang</h4>
                <p>Hindu Panchang. We Provide Best Panchang Details With Grah and Vedic Astrology.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Mantras</h4>
                <p>We Provide Best Mantras Details And It Effect and How to Practise.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>You Pandit Ji at Home</h4>
                <p>We Provide Best well qualified Pandit Details at your door steps .</p>
              </div>
            </div>         
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Upcoming events and Festival</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Festivals in August 2024
            </h4>
            <ul>
              <li><a href="#">Sawan Shivaratri</a></li>
              <li><a href="#">Hariyali Amavasya</a></li>
              <li><a href="#">Chandra Darshan</a></li>
              <li><a href="#">Andal Jayanthi / Aadi Pooram</a></li>
              <li><a href="#">Tulsidas Jayanti</a></li>
              <li><a href="#">Rigveda Upakarma</a></li>
              <li><a href="#">Simha Sankranti</a></li>
              <li><a href="#">Masik Durgashtami</a></li>
              <li><a href="#">Falgun Purnima</a></li>
              <li><a href="#">Bahula Chauth (Bol Choth)</a></li>
              <li><a href="#">Kajari Teej</a></li>
              <li><a href="#">Sankashti Chaturthi</a></li>
              <li><a href="#">Randhan Chhath</a></li>
              <li><a href="#">Kala Ashtami, Kalashtami</a></li>
              <li><a href="#">Bahula Chauth (Bol Choth)</a></li>
              <li><a href="#">Kajari Teej</a></li>
              <li><a href="#">Sankashti Chaturthi</a></li>
              <li><a href="#">Randhan Chhath</a></li>
              <li><a href="#">Kala Ashtami, Kalashtami</a></li>
              <li><a href="#">Sawan Shivaratri</a></li>
              <li><a href="#">Hariyali Amavasya</a></li>
              <li><a href="#">Chandra Darshan</a></li>
              <li><a href="#">Andal Jayanthi / Aadi Pooram</a></li>
              <li><a href="#">Tulsidas Jayanti</a></li>
              <li><a href="#">Rigveda Upakarma</a></li>
              <li><a href="#">Simha Sankranti</a></li>
              <li><a href="#">Sawan Shivaratri</a></li>
              <li><a href="#">Hariyali Amavasya</a></li>
              <li><a href="#">Chandra Darshan</a></li>
              <li><a href="#">Andal Jayanthi / Aadi Pooram</a></li>
              <li><a href="#">Tulsidas Jayanti</a></li>
              <li><a href="#">Rigveda Upakarma</a></li>


            </ul>
            <div class="main-button-red">
              <a href="meetings.html">Upcoming events and Festival</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>Hariyali Teej</span>
                  </div>
                  <a href="meeting-details.html"><img src="assets/images/meeting-01.jpg" alt="New Lecturer Meeting"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Aug <span>07</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Hariyali Teej 2024</h4></a>
                  <p>Hariyali Teej marks the sacred union of Lord Shiva and Goddess Parvati. According to legend, Parvati underwent 107 rebirths before finally being able to marry Shiva on the 108th birth,<br> which occurred on Shukla Paksha Tritiya of Shravan..</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>Putrada Ekadashi</span>
                  </div>
                  <a href="meeting-details.html"><img src="assets/images/meeting-02.jpg" alt="Online Teaching"></a>
                </div>
                <div class="down-content">
                 
                  <a href="meeting-details.html"><h4>Putrada Ekadashi</h4></a>
                  <p> It is to benefit all humanity that I have explained all this to you.</br>" Thus ends the narration of the glories of Pausha-shukla Ekaadasii, or Putradaa Ekaadasii, <br>from the Bhavishya Purana of Veda Vyaasadeva .</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>Rakshabandhan</span>
                  </div>
                  <a href="meeting-details.html"><img src="assets/images/meeting-03.jpg" alt="Higher Education"></a>
                </div>
                <div class="down-content">
                  
                  <a href="meeting-details.html"><h4>Raksha Banhan</h4></a>
                  <p>Raksha Bandhan is a popular and traditionally Hindu annual rite or ceremony that is central to a festival of the same name celebrated in South Asia.<br> It is also celebrated in other parts of the world significantly influenced by Hindu culture.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>Ganesh Chaturthi</span>
                  </div>
                  <a href="meeting-details.html"><img src="assets/images/meeting-04.jpg" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Aug <span>22</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Sankasti Chaturthi</h4></a>
                  <p>Sankashti Chaturthi or Sankatahara Chaturthi is a festival devoted to the benign Elephant God or Lord Ganesha. On this day, <br>devotees worship Lord Ganesha to overcome their hurdles in life and to come out as an achiever in difficult times.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Read interesting articles about upcoming fasts, festivals, and everything around Sanatan Dharma.</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src="assets/images/1.jpg" alt="Course One">
              <div class="down-content">
                <h4>Find complete lyrics of all the famous Aartis and easily worship your beloved <br>God.</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>>>></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="assets/images/4.jpg" alt="Course Two">
              <div class="down-content">
                <h4>We have brought the precious knowledge of Ayurveda for you, these remedies will help you lead a healthy life..</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>>>></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="assets/images/2.jpg" alt="">
              <div class="down-content">
                <h4>You will get complete Chalisa of all the deities. Read Chalisa during the Pooja of your beloved deities.</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>>>></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="assets/images/3.jpg" alt="">
              <div class="down-content">
                <h4>Find all the powerful mantras for peace of mind. Chant these mantras and remove all the obstacles from life.</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>>>></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>Your Pandit Ji at your doorstep</h3>
                <p>Through our platform, you can call Pandit ji to your home and get any puja done with just one click.</p>
                <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Call Pandit Ji!</a></div>
              </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>Bring your power to perform divine worship online</h3>
                <p>To increase business support in the daily life of the people, you can give your worship and service online.</p>
                <div class="main-button-yellow">
                  <div class="scroll-to-section"><a href="#contact">Join As Pandit Ji</a></div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <article class="accordion">
                <div class="accordion-head">
                    <span>How does Divine Connect ensure the quality and authenticity of Pandits listed on the platform?</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Divine Connect ensures the quality and authenticity of Pandits listed on its platform through a rigorous vetting process that includes several key steps:1.Verification of Credentials,2.Background Checks,3.Interviews and Assessments,4.Continuous Monitoring.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>Why is puja important to Hindus?</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Puja is central to Hindu religious practice and holds profound importance for several reasons, deeply rooted in spiritual, cultural, and philosophical aspects of Hinduism. Here’s why puja is so significant to Hindus:</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>Rituals and Tradition</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p><b>Preservation of Cultural Heritage:</b> Puja is a vital aspect of Hindu culture and tradition. Performing it regularly helps preserve ancient customs, rituals, and practices, passing them down through generations.<br>
<b>Observance of Important Life Events:</b> Pujas are an integral part of Hindu rites of passage (Samskaras) such as birth, marriage, and death. These rituals mark significant milestones in a Hindu’s life, ensuring they are blessed and auspicious.</p>
                    </div>
                </div>
            </article>
            <article class="accordion last-accordion">
                <div class="accordion-head">
                    <span>Moral and Ethical Guidance</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p><b>Reinforcement of Dharma:</b> Through the stories, teachings, and symbolism in puja rituals, Hindus are reminded of their duties (dharma) and the importance of leading a righteous life. Puja reinforces moral and ethical values that are central to Hindu philosophy.<br>
<b>Reflection and Introspection:</b> Puja provides an opportunity for devotees to reflect on their actions, seek forgiveness for mistakes, and commit to living a life aligned with spiritual principles.</p>
                    </div>
                </div>
            </article>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts About Divine Connect</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">94</div>
                    <div class="count-title">Happy Yagmans</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">126</div>
                    <div class="count-title">Pandits</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">2345</div>
                    <div class="count-title">Devotees</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">999</div>
                    <div class="count-title">Puja</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="assets/images/play-icon.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="/upload" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="YOURNAME...*" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text"  placeholder="YOUR EMAIL..." />
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>9546219901</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>info@divineconnect.com</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>NSTI (W) Patna - Digha 800011</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.divineconnect.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Divine Connect, Ltd. All Rights Reserved. 
      </p>
    </div>
  </section>
      <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel">Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Profile information goes here -->
                    <div>
        <p>Name: <span th:text="${name}"></span></p>
        
    </div>
    

                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/logout" 					role="button">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
   
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
        </script>
        <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
      </script>
      
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</body>
</html>