<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6></h6>
          <h2>12 Jyotirlinga Anushthan</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                   
                  </div>
                  
                  <a href="meeting-details.html"><img src="https://i.pinimg.com/736x/62/d7/8a/62d78a2f031bbb62fcf36b419bbd188b.jpg" alt=""></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>12 Jyotirlinga Anushthan</h4></a>
                  <p><p>India is a country full of religious beliefs and holy temples, where people worship God. There are many ancient and sacred temples here. In these temples, the pagodas of Lord Shiva are visited by lakhs of devotees every year. There are also 12 famous Jyotirlingas of Bholenath in this holy pagoda. These Jyotirlingas have great importance.</p>

<p>According to religious beliefs, Lord Shiva himself is seated in the form of Jyotirlinga in the 12 Jyotirlingas of Bholenath. All these Jyotirlingas are located in different states of India. If you want to visit this Jyotirlinga, then you must know the names of these 12 Jyotirlingas and where they are located. Most of the Jyotirlingas are located in Madhya Pradesh, Maharashtra. To see all the Jyotirlingas, know where all the Jyotirlingas of Lord Shiva are.</p>

<p><u><strong>What is the Meaning of Jyotirlinga and How Jyotirlinga originated?</strong></u></p>

<p>The name of the Jyotirlinga of Lord Shiva is Jyoti-Pind. Shivling has 12 sections. It is described in Shiva Purana that Brahma, Maya, Jiva, mind, intellect, chitta, ego, sky, air, fire, water and earth are called Jyoti-Pind or Jyotirlinga. Also, according to our Puranas, the Shivalinga located at the twelve places where Lord Shiva appeared are worshiped as Jyotirlingas.</p>

<p><u><strong>What is the difference between Jyotirlinga and Shivlinga</strong></u></p>

<p>Do you know what the difference between Shivling and Jyotirling is? According to a legend told in the Shiva Maha Purana, once there was a dispute between Lord Vishnu and Lord Brahma as to who was the superior among them, Lord Shiva appeared in the form of a great pillar of light to end the confusion of both the deities. Appeared in Both Brahmaji and Vishnuji could not know the end and beginning of that pillar. This is called Jyotirlinga. While Linga means the symbol i.e. the manifestation of Shiva in the form of light and the symbol of the creation of the universe.</p>

<p><u><strong>Importance of Jyotirlinga</strong></u></p>

<p>Lord Mahadev has said in Shiva Purana and Nandi-Upa Purana that I am presents everywhere, especially in the form of Jyotirlinga in 12 forms and places. According to our Puranas, Lord Shiva Himself has appeared in all these twelve places and He Himself resides in the form of light in all these Jyotirlingas. These holy Jyotirlingas are located in different parts of the country. The mere sight of these 12 Jyotirlingas gives desired results and freedom from many sins; this is the specialty of Lord Shiva.&nbsp;<br />
<br />
1.&nbsp;&nbsp; &nbsp;<u><strong>Somnath Jyotirlinga, Veraval, Gujarat</strong></u><br />
Somnath Temple is located at Veraval in Gir Somnath district of Gujarat state. Somnath temple is counted as the first Jyotirlinga among the 12 Jyotirlingas. Somnath means &quot;Lord of Soma&quot;. The Somnath Jyotirlinga temple is said to have been built by Chandrama (Somdev) himself with pure gold and later renovated by Ravana with silver. It was then made of sandalwood by Lord Krishna and finally made of stone by Bhimdev.</p>

<p>The mention of this temple is also found in Rigveda. It is an important pilgrimage site and sightseeing place. According to Shiva Purana, when Prajapati Daksha had cursed the moon with tuberculosis, then by worshiping Lord Shiva and doing penance at this place, the moon got rid of the curse. According to folklore, this is where Lord Krishna died. Due to this the importance of this area increased. By worshiping and worshiping Lord Somnath, the devotee&#39;s tuberculosis is always destroyed and he becomes healthy.</p>

<p>2.&nbsp;&nbsp; &nbsp;<u><strong>Mallikarjuna Jyotirlinga, Srisailam, Andhra Pradesh</strong></u></p>

<p>This is the specific area where Shiva and Parvati visited their child Kartikeya, living there in shame that he failed the test of his parentage.</p>

<p>The second Jyotirlinga in the list is Mallikarjuna which is established in Andhra Pradesh. According to the Skanda Purana, Shiva and Parvati were unable to choose which of their sons should have intercourse first. So he decided to plot a contest between his two sons, Ganesha and Kartikeya. Whoever is able to do this first will marry first.</p>

<p>3.&nbsp;&nbsp; &nbsp;<u><strong>Mahakaleshwar, Madhya Pradesh</strong></u></p>

<p>The third Jyotirlinga is the particularly popular Mahakaleshwar in Ujjain. It is an exceptionally holy place and is situated on the banks of the Rudra Sagar.</p>

<p>This piece of the nation was once ruled by a ruler named Chandrasena, who was a great devotee of Lord Shiva. People will worship God like this continuously. One day the region was invaded by Lord Ripudaman, who was possessed by an evil spirit named Dushan. This evil presence has gained an extraordinary ability that allows it to become invisible.</p>

<p>The kingdom was destroyed and all the people prayed to Lord Shiva. Lord Shiva appeared and secured the city. The people of Ujjain asked him to stay there and protect them. Shiva could not say no and decided to stay in Ujjain to take care of his devotees. It is believed that Lord Shiva is still present in Mahakaleshwar.</p>

<p>Lord Kartikeya took his peacock and started the journey but Ganesha decided to go to his parents and said that they are his world. Shiva and Parvati were greatly impressed by this so they decided to get Lord Ganesha married first. And he married Riddhi and Siddhi, the daughters of Vishwaroopan.</p>

<p>4.&nbsp;&nbsp; &nbsp;<u><strong>Omkareshwar Jyotirling, Madhya Pradesh</strong></u></p>

<p>Omkareshwar Temple is one of the highly revered Jyotirlingas and is situated on an island called Shivpuri in the Narmada River in Madhya Pradesh.</p>

<p><strong>Story of Omkareshwar Jyotirlinga</strong></p>

<p>The word Omkareshwar means &quot;Lord of Omkar&quot; or Lord of the sound Om! According to Hindu scriptures, once there was a great war between the Devas and the Danavas, in which the Danavas emerged victorious. This was a great blow to the Devas who then prayed to Lord Shiva. Pleased by his prayer, Lord Shiva appeared in the form of Omkareshwar Jyotirlinga and defeated the demons. Thus this place is considered highly sacred by the Hindus.</p>

<p>Many stories revolve around this temple. Beliefs say that Lord Shiva came here to conquer the demons on the request of the gods.</p>

<p>&nbsp; &nbsp; &nbsp; In some kingdom he came here on the request of Vindhya mountain and supported him that he would become a strong mountain if he stopped influencing the devotees of Lord Shiva. Some people say that the ruler Mandhata used to worship Lord Shiva here. Lord Shiva was so satisfied with them that he chose to reside here.</p>

<p>5.&nbsp;&nbsp; &nbsp;<u><strong>Kedarnath Jyotirling, Uttarakhand</strong></u></p>

<p>It is believed to be established by the Pandavas in that specific area where they saw Lord Shiva and were blessed by him and absolved of their crimes.</p>

<p>The Pandavas had to renounce their sins so that they could go to Swarga (heaven). However, he was informed that he could do so only if he could see Lord Shiva and receive his grace. So he started his hunt. After a long search, he finally saw Lord Shiva at the place where the Jyotirlinga stands today.</p>

<p>The Lord said that he would reside at this place in the form of a Jyotirlinga with three arms. It is one of the most famous Jyotirlingas in India and also a holy place. A large number of devotees visit this Kedarnath temple every year.</p>

<p>6.&nbsp;&nbsp; <u><strong>&nbsp;Baidyanath Jyotirlinga, Deoghar, Jharkhand&nbsp;</strong></u></p>

<p>There are many such stories in Shiva Purana which tell that Shiva is the lord of Baidya. It is said that Shiva in his fiery form beheaded his father-in-law Daksha with his trishul. Later, when there was a lot of request, Baba Baidyanath searched in all the three worlds but could not find that head. After this a goat&#39;s head was cut off and transplanted on Daksh&#39;s trunk. Due to this, the sound of the goat - b.b.b.b. Let&#39;s worship Mahadev with the pronunciation of. Devotees please Baba by playing this sound. Legend has it that Lord Shankar was installed by Pandit Ravana after bringing him from Kailash. Because of this it is called Ravanoshwar Baidyanath. The story of the court here is quite unique.<br />
&nbsp;&nbsp;<br />
This Baidyanath Jyotirlinga is going to give man the fruit according to his wish. In this Vaidyanath Dham, there is a huge lake at a short distance from the temple, on which concrete ghats are built. Devotees take bath in this lake.</p>

<p>7.&nbsp;&nbsp; &nbsp;<u><strong>Kashi Vishwanath Temple Uttar Pradesh</strong></u></p>

<p>The Kashi Vishwanath Temple in Varanasi, Uttar Pradesh is home to the Vishwanath Jyotirlinga shrine, perhaps the holiest of Hindu temples. The temple is located in Varanasi, the holiest city of Hindus, where a Hindu is expected to make a pilgrimage at least once in his life. The temple is situated on the west bank of the holy river Ganges, and is one of the twelve Jyotirlingas.</p>

<p>Actually, this is a place where Shaktipeeths and Jyotirlinga are together. It is the holiest of all Shiva temples. The main deity is known as Vishwanatha or Vishweshwara which means the ruler of the universe. With a documented history of 3500 years, the temple town, also known as Kashi, is believed to be the oldest surviving city in the world.</p>

<p>8.&nbsp;&nbsp; &nbsp;<u><strong>Trimbakeshwar Jyotirlinga, Nashik, Maharashtra</strong></u></p>

<p>Trimbakeshwar Temple is located in Trimbak town near Nashik, near Brahmagiri mountain. The holy river, Godavari originates near Trimbak. The unique feature of the temple is that the Jyotirlinga of this temple has three faces. These faces represent the three supreme deities, Brahma, Vishnu and Maheshwara.</p>

<p>A legend from the Shiva Puranas tells that the sage Gautama had received a boon from Varuna where he had a free supply of grain. In this way, he used to invite many sages to his house for food. However, one day he killed a cow for grazing in his field. To wash away his sin, he started praying to Lord Shiva, who asked the river Ganga to flow from here, washing away all his sins.</p>

<p>On the earnest request of Gautama Rishi, river Godavari and other deities, Shiva resided here under the name of Trimbakeshwar.</p>

<p>9.&nbsp;&nbsp; &nbsp;<u><strong>Bhimashankar Jyotirlinga &ndash; Pune, Maharashtra</strong></u></p>

<p>Bhimashankar Temple is located in the Ghat region of the Sahyadri hills in Pune, Maharashtra. It is also the origin of the Bhima river. According to legends, Bhima, the son of Karkati and Kumbhakarna, lived in a dense forest with his mother. When he learned how his father had been killed in the great battle between Rama and Ravana, he became furious. He started praying to Lord Bramha who blessed him with immense powers. He started destroying everything with his powers and defeated almost every god. Seeing this all the deities started praying to Lord Shiva along with Lord Bramha.</p>

<p>Lord Shiva came to the rescue and defeated the demon. Since then he appeared as Bhimashankar on everyone&#39;s request.</p>

<p>10.&nbsp;&nbsp; &nbsp;<u><strong>Rameshwaram Jyotirlinga &ndash; Rameshwaram, Tamil Nadu</strong></u></p>

<p>The Rameshwaram Temple is located in the Rameshwaram island of Tamil Nadu. This is the southernmost Jyotirlinga. A legend in the Ramayana tells that, Rama committed the sin of killing a Brahmin during his war against the demon king Ravana. He prayed to Lord Shiva to be absolved of his sins. He asked Hanuman to bring a Shivling from the Himalayas. Sita made a small linga out of sand and started praying for Hanuman&#39;s late arrival. It is believed to be the lingam located in the sanctum sanctorum.<br />
<br />
This Jyotirlinga is popularly called the &#39;Varanasi of the South&#39;. Next to the temple is the Dhanushkodi beach. It was here that Rama built the Rama Setu to save his wife Sita from the demon Ravana. This pilgrimage is also one of the holy Char Dhams.</p>

<p>11.&nbsp;&nbsp; &nbsp;<u><strong>Nageswara Jyotirlinga &ndash; Darukavanam, Gujarat</strong></u></p>

<p>Nageshwar Temple is also known as Nagnath Temple. It is situated between Gomti Dwarka and Bait Dwarka islands in Saurashtra, Gujarat. According to a legend in the Shiva Puranas, there was once a demon named Daruka who imprisoned Supriya, a devotee of Lord Shiva. Daruka took Supriya along with many others to his city called Darukavana. It was a city under the sea which had many monsters and sea snakes. Supriya along with others started praying to Lord Shiva, who appeared before them and vanquished the demon. Since then he was residing there in the form of Jyotirlinga.This Jyotirlinga is popularly called the &#39;Varanasi of the South&#39;. Next to the temple is the Dhanushkodi beach. It was here that Rama built the Rama Setu to save his wife Sita from the demon Ravana. This pilgrimage is also one of the holy Char Dhams.</p>

<p>12.&nbsp;&nbsp; &nbsp;<u><strong>Ghrishneshwar Jyotirlinga &ndash; Aurangabad, Maharashtra</strong></u></p>

<p>Grishneshwar means &#39;Lord of Compassion&#39;. This temple is located in Verul, less than a kilometer from Ellora. This temple is also known as Ghrishneshwar Jyotirlinga and Dhushmeshwar Jyotirlinga.</p>

<p>According to a legend in the Shiva Puranas, a childless couple named Sudeha and Sudharam lived in Mount Devagiri. Sudeha got her husband married to her sister Ghushma. Soon, Ghushma and Sudharam are blessed with a boy. This made Sudeha jealous. He threw the boy into a lake where Ghushma used to discharge 101 lingas. On repeated prayers by Ghushma, Lord Shiva returned her son back to her. On the request of rectification, Lord Shiva manifested himself here in the name of Ghrishneshwar Jyotirlinga.<br />
<br /></p>
</div>
                  
                  
                 
    </script>
</body>


  </body>

</html>