<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6></h6>
          <h2> ॥ श्री लक्ष्मी चालीसा ॥</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span> ॥ श्री लक्ष्मी चालीसा ॥<</span>
                  </div>
                  
                  <a href="laksmi-chalisa.html"><img src="https://srm-cdn.a4b.io/images/library/ebdc863d-d1f1-4b00-9313-aa2f9107827f.png" alt="Lakshmi Chalisa"></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4> ॥ श्री लक्ष्मी चालीसा ॥</h4></a>
                  <p>
लक्ष्मी चालीसा देवी लक्ष्मी को समर्पित 40 पदों का स्तोत्र है, जो धन, वैभव, और समृद्धि की देवी की महिमा का गुणगान करता है। इसके पाठ से व्यक्ति के जीवन में आर्थिक समृद्धि, सुख-शांति और वैभव का वास होता है। लक्ष्मी चालीसा का नियमित पाठ धन-धान्य में वृद्धि करता है, आर्थिक संकटों को दूर करता है, और घर में संपन्नता और खुशहाली बनाए रखता है। यह नकारात्मक शक्तियों से रक्षा करता है और मन में संतोष, सुख, और स्थिरता प्रदान करता है। देवी लक्ष्मी की कृपा से जीवन में हर प्रकार की संपन्नता और समृद्धि का अनुभव होता है।





</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"></a>
               <h3><strong> ॥ श्री लक्ष्मी चालीसा ॥</strong></h3><br/>
                   <h3>
 <br><br>
  माता लक्ष्मी तुमको नित ध्यान धरें।<br>
  ध्यान धरें तुमको सभी भव पार करें॥<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता।<br>
  तुमको निसदिन सेवक सुमिरें॥<br><br>

  ध्यान धरें नर-नारी सभी के, भव-सागर से पार उतरें।<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  आदिशक्ति की तुम हो मूरत।<br>
  सन्तन हितकारी भव भव भवानी॥<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  क्षीरसागर के मध्य विराजत, कृपा दृष्टि जग पर हो जाता।<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  जो तुम्हें ध्यावत प्रेम उर लावत, कष्ट मिटावत मन चाहत फल पावत।<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  बिन धन दोष निवारण वाली, धरा पर नाम तुम्हारा जपि ले।<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  भगत के संकट झट-पट हरती, मनवांछित फलों की देती पूरी॥<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  विद्या बल बुद्धि दे देने वाली, हर विपदा में बन सहायिनी॥<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  जो कोई यश गावे सुन्दर, लक्ष्मी माँ की महिमा प्यारी।<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  तुम जो हो भक्तजन की रक्षक, भव-सागर में हो सहायिनी।<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  तुम हो पालनहार लक्ष्मी माता, नर-नारी सब ध्यान धरें।<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  जो कोई यश गावे बारंबार, उसका कष्ट हरें लक्ष्मी माता॥<br>
  जय लक्ष्मी माता, जय लक्ष्मी माता॥<br><br>

  ॥ दोहा ॥<br><br>
  लक्ष्मी माता की महिमा, जो कोई नर गावे।<br>
  धान्य हो मनवांछित, नर सदा सुख पावे॥
</h3>
                   </div>
                  
                  
                 
    </script>
    </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>


  </body>

</html>