<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Mantra Collection for Hindu Gods">
  <meta name="author" content="Divine Connect">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Divine Connect - Hindu Mantras</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/lightbox.css">
</head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Connect Spiritually with <em> Divine Mantras</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Area -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- Logo -->
            <a href="/" class="logo">
              Divine Connect
            </a>
            <!-- Menu -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li><a href="panchang">Panchang</a></li>
              <li><a href="astrology">Astrology</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">Library</a>
                <ul class="sub-menu">
                  <li><a href="aarti">Aarti</a></li>
                   <li><a href="chalisa">Chalisa</a></li> 
                  <li><a href="mantra">Mantra</a></li> 
                  <li><a href="puja">Puja</a></li>
                  <li><a href="vedic-astrology">Vedic Astrology</a></li>
                </ul>
              </li>
              <li><a href="featured-puja">Featured Puja</a></li>
              <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                <ul class="sub-menu">
                  <li><div id="google_translate_element"></div></li>
                </ul>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Section -->
<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Explore the Divine Mantras</h6>
        <h2>Shiv Mantra & More</h2>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="filters">
              <ul>
                <li data-filter="*" class="active">All Mantras</li>
                <li data-filter=".shiv">Shiv Mantra</li>
                <li data-filter=".lakshmi">Lakshmi Mantra</li>
                <li data-filter=".ganesh">Ganesh Mantra</li>
                <li data-filter=".saraswati">Saraswati Mantra</li></br></br>
                <li data-filter=".durga">Durga Mantra</li>
                
                <li data-filter=".vishnu">Vishnu Mantra</li>
                <li data-filter=".shani">Shani Mantra</li>
                <li data-filter=".surya">Navgrah Mantra</li>
                <li data-filter=".gayatri">Gayatri Mantra</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row grid">
              <!-- Shiv Mantra -->
              <div class="col-lg-4 templatemo-item-col all shiv">
                <div class="meeting-item">
                  <div class="thumb">
                    <a href="shiv-mantra"><img src="https://srm-cdn.a4b.io/images/library/f6157823-ab26-4835-b041-38d7195de734.png"></a>
                  </div>
                  <div class="down-content">
                    <a href="shiv-mantra"><h4>शिव मंत्र</h4></a>
                  </div>
                </div>
              </div>
              <!-- Lakshmi Mantra -->
              <div class="col-lg-4 templatemo-item-col all lakshmi">
                <div class="meeting-item">
                  <div class="thumb">
                    <a href="lakshmi-mantra"><img src="https://srm-cdn.a4b.io/images/library/8164511c-95cf-4b4f-8ef3-1d05b0d6f8c4.png"></a>
                  </div>
                  <div class="down-content">
                    <a href="lakshmi-mantra"><h4>लक्ष्मी मंत्र</h4></a>
                  </div>
                </div>
              </div>
              <!-- Ganesh Mantra -->
              <div class="col-lg-4 templatemo-item-col all ganesh">
                <div class="meeting-item">
                  <div class="thumb">
                    <a href="ganesh-mantra"><img src="https://srm-cdn.a4b.io/images/library/884d873d-ccac-4420-93de-61ce3747d14c.png"></a>
                  </div>
                  <div class="down-content">
                    <a href="ganesh-mantra"><h4>गणेश मंत्र</h4></a>
                  </div>
                </div>
              </div>
              <!-- Saraswati Mantra -->
              <div class="col-lg-4 templatemo-item-col all saraswati">
                <div class="meeting-item">
                  <div class="thumb">
                    <a href="saraswati-mantra"><img src="https://srm-cdn.a4b.io/images/library/26e54c19-fdc3-4e66-84ac-7cbcbea8756c.png"></a>
                  </div>
                  <div class="down-content">
                    <a href="saraswati-mantra"><h4>सरस्वती मंत्र</h4></a>
                  </div>
                </div>
              </div>
              
              
              <!-- Durga Mantra -->
              <div class="col-lg-4 templatemo-item-col all durga">
                <div class="meeting-item">
                  <div class="thumb">
                    <a href="durga-mantra"><img src="https://srm-cdn.a4b.io/images/library/6d724317-4aaa-46cc-a352-9774f9ab89b4.png"></a>
                  </div>
                  <div class="down-content">
                    <a href="durga-mantra"><h4>दुर्गा मंत्र</h4></a>
                  </div>
                </div>
              </div>
             
              <!-- Vishnu Mantra -->
              <div class="col-lg-4 templatemo-item-col all vishnu">
                <div class="meeting-item">
                  <div class="thumb">
                    <a href="vishnu-mantra"><img src="https://srm-cdn.a4b.io/images/library/f7ecfdde-35b2-49a1-ab28-862679212c1c.png"></a>
                  </div>
                  <div class="down-content">
                    <a href="vishnu-mantra"><h4>विष्णु मंत्र</h4></a>
                  </div>
                </div>
              </div>
              <!-- Shani Mantra -->
              <div class="col-lg-4 templatemo-item-col all shani">
                <div class="meeting-item">
                  <div class="thumb">
                    <a href="shanidev-mantra"><img src="https://srm-cdn.a4b.io/images/library/28d225e6-8007-44dc-83e7-1aa7ae0a5174.png"></a>
                  </div>
                  <div class="down-content">
                    <a href="shanidev-mantra"><h4>शनि मंत्र</h4></a>
                  </div>
                </div>
              </div>
              <!-- Navgrah Mantra -->
              <div class="col-lg-4 templatemo-item-col all surya">
                <div class="meeting-item">
                  <div class="thumb">
                    <a href="navgrah-mantra"><img src="https://srm-cdn.a4b.io/images/library/6a28b50a-28d4-4eff-94d3-6d78cc841e3f.png"></a>
                  </div>
                  <div class="down-content">
                    <a href="navgrah-mantra"><h4>नवग्रह मंत्र</h4></a>
                  </div>
                </div>
              </div>
              <!-- Gayatri Mantra -->
              <div class="col-lg-4 templatemo-item-col all gayatri">
                <div class="meeting-item">
                  <div class="thumb">
                    <a href="gayatri-mantra"><img src="https://srm-cdn.a4b.io/images/library/98f5b83b-43d8-42bb-a155-4c116f15417d.png"></a>
                  </div>
                  <div class="down-content">
                    <a href="gayatri-mantra"><h4>गायत्री मंत्र</h4></a>
                  </div>
                </div>
              </div>
              <!-- Additional mantras can continue to be added here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</section>

<!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/lightbox.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>