<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6></h6>
          <h2> ॥ श्री राम चालीसा ॥</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span> ॥ श्री राम चालीसा ॥<</span>
                  </div>
                  
                  <a href="ram-chalisa.html"><img src="https://srm-cdn.a4b.io/images/library/6fa8cd9c-cc00-46ac-905f-8f50ffff9367.png" alt="Ram Chalisa"></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4> ॥ श्री राम चालीसा ॥</h4></a>
                  <p>
हनुमान चालीसा भगवान हनुमान को समर्पित एक पवित्र 40 पदों का स्तोत्र है, जो भक्तों को साहस, शक्ति, और समर्पण प्रदान करता है। इसके पाठ से मनुष्य को जीवन की सभी बाधाओं, भय और नकारात्मक शक्तियों से मुक्ति मिलती है। हनुमान चालीसा का नियमित पाठ शारीरिक और मानसिक बल को बढ़ाता है, आत्मविश्वास को मजबूत करता है, और भक्तों के जीवन में सुख-समृद्धि और शांति लाता है। यह सभी प्रकार की परेशानियों और रोगों से सुरक्षा प्रदान करता है, और व्यक्ति को भगवान राम के प्रति पूर्ण भक्ति और समर्पण के मार्ग पर अग्रसर करता है।






</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"></a>
               <h3><strong> ॥ श्री राम चालीसा ॥</strong></h3><br/>
                   <h3>
 <br><br>

  श्री रघुवीर सुखकर दाता।<br>
  पाप विकार दूर करि माता॥<br><br>

  जय सिया पति राम दयालू।<br>
  कृपा सिंधु अति गुन करुणा लूल॥<br><br>

  श्री राम चंद्र कृपालु भज मन, हरण भव भय दारुणं।<br>
  नव कंज लोचन, कंज मुख, कर कंज पद कंजारुणं॥<br><br>

  कन्दर्प अगणित अमित छवि, नव नील नीरद सुन्दरं।<br>
  पट पीत मानहु तड़ित रूचि, शुचि निंदीत निंदारं॥<br><br>

  जयति जयति रघुवंश विभूषण, सदा तेज त्रिभुवन जीवनं।<br>
  दीन दयाल विराज राम चन्द्र, रघुकुल नायक करुणाकंद॥<br><br>

  जय जय श्री रघुनंदन श्रीराम।<br>
  दीन दयाल अनाथन हितकारी॥<br><br>

  जयति जयति धीरजधाम राम।<br>
  सिया पति करुणा निधान राम॥<br><br>

  जानकिवर रघुवर विहारी।<br>
  भव भय भंजन करुणाकारी॥<br><br>

  राम राम जप करें जो प्राणी।<br>
  भय भव से मुक्त हों बानी॥<br><br>

  सदा रहो भक्तन के संगी।<br>
  भव भंजन हर हो सबरंगी॥<br><br>

  जय सिया पति रघुनाथ दयालू।<br>
  कृपा करहु धर हृदय विमलु॥<br><br>

  ॥ दोहा ॥<br><br>

  श्री राम चालीसा जो गावे।<br>
  सदा सुख संपत्ति पावे॥<br>
  भक्ति मुक्ति निर्मल करणी।<br>
  सदा रहो सिया के धरणी॥
</h3></div>
                  
                  
                 
    </script>
    </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>


  </body>

</html>