<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>मां सरस्वती जी की आरती</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>मां सरस्वती जी की आरती</span>
                  </div>
                  
                  <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library//b0b62630-5d42-48dc-8f8c-c5fa51c6891f.png" alt=""></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>मां सरस्वती जी की आरती</h4></a><br>माता सरस्वती की बुद्धि, विद्या और ज्ञान की देवी के रूप में आराधना की जाती है। जो व्यक्ति मां सरस्वती की पूजा, आरती निष्ठा पूर्वक करता है उसे बुद्धि व विद्या की प्राप्ति होती है।

मान्यता है कि यदि माँ सरस्वती की कृपा किसी पर हो गई तो वह दुनिया में प्रकांड पंडित बन सकता है। मां सरस्वती की कृपा पाने के लिए कीजिए उनकी यह प्रसिद्ध आरती।</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"><h1 style= color:black>मां सरस्वती जी की आरती</h1></a><br/>
               
<h3><strong>॥ आरती श्री सरस्वती जी ॥</strong></h3>
<p>जय सरस्वती माता,<br/>
जय जय सरस्वती माता<br/>
सदगुण वैभव शालिनी,<br/>
त्रिभुवन विख्याता॥<br/>
<strong>जय जय सरस्वती माता…॥</strong></p>
<p>ओम जय सरस्वती माता,<br/>
जय जय सरस्वती माता।<br/>
सदगुण वैभव शालिनी,<br/>
त्रिभुवन विख्याता॥<br/>
<strong>जय जय सरस्वती माता…॥</strong></p>
<p>चन्द्रबदनी पद्मासिनि,<br/>
द्युति मंगलकारी,<br/>
मैया द्युति मंगलकारी।<br/>
सोहे शुभ हंस सवारी,<br/>
अतुल तेजधारी॥<br/>
<strong>जय जय सरस्वती माता…॥</strong></p>
<p>बाएं कर में वीणा,<br/>
दाएं कर माला,<br/>
मैया दाएं कर माला।<br/>
शीश मुकुट मणि सोहे,<br/>
गल मोतियन माला॥<br/>
<strong>जय जय सरस्वती माता…॥</strong></p>
<p>देवी शरण जो आए,<br/>
उनका उद्धार किया,<br/>
मैया उनका उद्धार किया।<br/>
पैठी मंथरा दासी,<br/>
रावण संहार किया॥<br/>
<strong>जय जय सरस्वती माता…॥</strong></p>
<p>विद्या ज्ञान प्रदायिनी,<br/>
ज्ञान प्रकाश भरो,<br/>
जग ज्ञान प्रकाश भरो।<br/>
मोह अज्ञान और तिमिर का,<br/>
जग से नाश करो॥<br/>
<strong>जय जय सरस्वती माता…॥</strong></p>
<p>धूप दीप फल मेवा,<br/>
मां स्वीकार करो,<br/>
हो मां स्वीकार करो।<br/>
ज्ञानचक्षु दे माता,<br/>
जग निस्तार करो॥<br/>
<strong>॥ जय सरस्वती माता…॥</strong></p>
<p>मां सरस्वती की आरती,<br/>
जो कोई जन गावे,<br/>
मैया जो कोई जन गावे।<br/>
हितकारी सुखकारी,<br/>
ज्ञान भक्ति पावे॥<br/>
<strong>जय जय सरस्वती माता…॥</strong></p>
<p>जय सरस्वती माता,<br/>
जय जय सरस्वती माता <br/>
सदगुण वैभव शालिनी,<br/>
त्रिभुवन विख्याता ॥<br/>
<strong>जय जय सरस्वती माता…॥</strong></p>
<p>ओम जय सरस्वती माता,<br/>
जय जय सरस्वती माता।<br/>
सदगुण वैभव शालिनी,<br/>
त्रिभुवन विख्याता ॥<br/>
<strong>जय जय सरस्वती माता…॥</strong></p>
                  
                  
                 
    </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>



  </body>

</html>