<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6></h6>
          <h2>  ॥ श्री सरस्वती चालीसा ॥</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>  ॥ श्री सरस्वती चालीसा ॥<</span>
                  </div>
                  
                  <a href="saraswati-chalisa.html"><img src="https://srm-cdn.a4b.io/images/library/bdb3479e-af2c-4c59-9217-7a7a3699fb93.png" alt="Saraswati Chalisa"></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>  ॥ श्री सरस्वती चालीसा ॥</h4></a>
                  <p>

सरस्वती चालीसा ज्ञान, संगीत, और कला की देवी माँ सरस्वती को समर्पित 40 पदों का स्तोत्र है, जो विद्या और बुद्धि की प्राप्ति का मार्ग प्रशस्त करता है। इसके पाठ से व्यक्ति की स्मरण शक्ति, बौद्धिक क्षमता और रचनात्मकता में वृद्धि होती है। सरस्वती चालीसा का नियमित पाठ छात्रों, कलाकारों, और विद्वानों को विशेष लाभ पहुंचाता है, जिससे वे अपने लक्ष्यों को आसानी से प्राप्त कर पाते हैं। यह मानसिक तनाव को दूर कर आंतरिक शांति, ध्यान, और एकाग्रता प्रदान करता है, और जीवन में शिक्षा, ज्ञान, और संगीत के प्रति प्रेम को प्रबल करता है। माँ सरस्वती की कृपा से व्यक्ति के जीवन में विद्या, बुद्धि, और समृद्धि का वास होता है।





</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"></a>
               <h3><strong>  ॥ श्री सरस्वती चालीसा ॥</strong></h3><br/>
                   <h3>
  <br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  सदगुण वैभव शालिनी, त्रिभुवन विख्याता॥<br><br>

  चंद्रवदनी पद्मासिनी, द्युतिमान मालिनी।<br>
  शोभित सरस किताब कर, वीणा पुस्तक धारी॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  विद्या बुद्धि प्रदायिनी, जीवन भव त्राता॥<br><br>

  शारदा भवानी, वरदायिनी वाणी।<br>
  वीणा पुस्तक धारी, जयति जय विद्या अंबा॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  हर दारिद्र्य अज्ञान, भक्तन की त्राता॥<br><br>

  रूप रचित सुंदर, जो साधु जन प्यारे।<br>
  तात स्वप्न में दर्शन, रक्षक है भव से॥<br><br>

  सुमिरन में लज्जा, भक्त मन से पावे।<br>
  मातु कृपा से बुद्धि बल, सदा सुखदायी॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  ब्रह्मा की प्यारी, शिव-पत्नी के तुल्य॥<br><br>

  बुद्धि विद्या की दात्री, भक्तन के हितकारी।<br>
  सुमिरें जो नर-नारी, हरें संकट भारी॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  संतजन सेवा करें, भव से पार उतारे॥<br><br>

  दारिद्र्य हरो, दुख बिनाशिनी।<br>
  सुश्री लक्ष्मी समान, मंगलकारी॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  विद्या की ज्योति से, विश्व को उजियारा॥<br><br>

  ॥ दोहा ॥<br><br>

  विनती करें अयोध्या दास, मातु सदा सुखदायी।<br>
  मम हृदय सदा विराजो, करहु बुद्धि की वृद्धि॥
</h3>
                   <h3>
  ॥ श्री सरस्वती चालीसा ॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  सदगुण वैभव शालिनी, त्रिभुवन विख्याता॥<br><br>

  चंद्रवदनी पद्मासिनी, द्युतिमान मालिनी।<br>
  शोभित सरस किताब कर, वीणा पुस्तक धारी॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  विद्या बुद्धि प्रदायिनी, जीवन भव त्राता॥<br><br>

  शारदा भवानी, वरदायिनी वाणी।<br>
  वीणा पुस्तक धारी, जयति जय विद्या अंबा॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  हर दारिद्र्य अज्ञान, भक्तन की त्राता॥<br><br>

  रूप रचित सुंदर, जो साधु जन प्यारे।<br>
  तात स्वप्न में दर्शन, रक्षक है भव से॥<br><br>

  सुमिरन में लज्जा, भक्त मन से पावे।<br>
  मातु कृपा से बुद्धि बल, सदा सुखदायी॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  ब्रह्मा की प्यारी, शिव-पत्नी के तुल्य॥<br><br>

  बुद्धि विद्या की दात्री, भक्तन के हितकारी।<br>
  सुमिरें जो नर-नारी, हरें संकट भारी॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  संतजन सेवा करें, भव से पार उतारे॥<br><br>

  दारिद्र्य हरो, दुख बिनाशिनी।<br>
  सुश्री लक्ष्मी समान, मंगलकारी॥<br><br>

  जय सरस्वती माता, मैया जय सरस्वती माता।<br>
  विद्या की ज्योति से, विश्व को उजियारा॥<br><br>

  ॥ दोहा ॥<br><br>

  विनती करें अयोध्या दास, मातु सदा सुखदायी।<br>
  मम हृदय सदा विराजो, करहु बुद्धि की वृद्धि॥
</h3>
                   </div>
                  
                  
                 
    </script>
    </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>


  </body>

</html>