<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>सत्यनारायण जी की आरती</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>सत्यनारायण जी की आरती</span>
                  </div>
                  
                  <a href="meeting-details.html"><img src="https://www.srimandir.com/_next/image?url=https%3A%2F%2Fsrimandirweb.s3.ap-south-1.amazonaws.com%2Fwebsite_aarti_header_0_57fba20747.webp&w=1920&q=75" alt=""></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>सत्यनारायण जी की आरती</h4></a><br>भगवान सत्यनाराण जी, विष्णु जी का ही एक रूप हैं। घर पर भगवान सत्यनारायण जी की आरती सुननें से जातक के शारीरिक और मानसिक स्वास्थ्य में सुधार होता है। भगवान श्री सत्यनाराण जी की आरती को रोज सुननें से भगवान सत्यनाराण से साथ माँ लक्ष्मी भी प्रसन्न होती हैं, जिससे जातक के धन्य धान्य में वृद्धि होती है। तो आइए पढ़ते हैं भगवान श्री सत्यनारायण जी की आरती लिखित में।</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"><h1 style= color:black>सत्यनारायण जी की आरती</h1></a><br/>
               

<p>जय लक्ष्मी रमणा,
स्वामी जय लक्ष्मी रमणा ।
सत्यनारायण स्वामी,
जन पातक हरणा ॥
ॐ जय लक्ष्मी रमणा,
स्वामी जय लक्ष्मी रमणा ।</p>
<p>रत्‍‌न जडि़त सिंहासन,
अद्भुत छवि राजै ।
नारद करत निराजन,
घण्टा ध्वनि बाजै ॥</p>
<p>ॐ जय लक्ष्मी रमणा,
स्वामी जय लक्ष्मी रमणा ।</p>
<p>प्रकट भये कलि कारण,
द्विज को दर्श दियो ।
बूढ़ा ब्राह्मण बनकर,
कंचन महल कियो ॥</p>
<p>ॐ जय लक्ष्मी रमणा,
स्वामी जय लक्ष्मी रमणा ।</p>
<p>दुर्बल भील कठारो,
जिन पर कृपा करी ।
चन्द्रचूड़ एक राजा,
तिनकी विपत्ति हरी ॥</p>
<p>ॐ जय लक्ष्मी रमणा,
स्वामी जय लक्ष्मी रमणा ।</p>
<p>वैश्य मनोरथ पायो,
श्रद्धा तज दीन्ही ।
सो फल भोग्यो प्रभुजी,
फिर-स्तुति कीन्हीं ॥</p>
<p>ॐ जय लक्ष्मी रमणा,
स्वामी जय लक्ष्मी रमणा ।</p>
<p>भाव भक्ति के कारण,
छिन-छिन रूप धरयो ।
श्रद्धा धारण कीन्हीं,
तिनको काज सरयो ॥</p>
<p>ॐ जय लक्ष्मी रमणा,
स्वामी जय लक्ष्मी रमणा ।</p>
<p>ग्वाल-बाल संग राजा,
वन में भक्ति करी ।
मनवांछित फल दीन्हों,
दीनदयाल हरी ॥</p>
<p>ॐ जय लक्ष्मी रमणा,
स्वामी जय लक्ष्मी रमणा ।</p>
<p>चढ़त प्रसाद सवायो,
कदली फल, मेवा ।
धूप दीप तुलसी से,
राजी सत्यदेवा ॥</p>
<p>ॐ जय लक्ष्मी रमणा,
स्वामी जय लक्ष्मी रमणा ।</p>
<p>श्री सत्यनारायण जी की आरती,
जो कोई नर गावै ।
ऋद्धि-सिद्ध सुख-संपत्ति,
सहज रूप पावे ॥</p>
<p>जय लक्ष्मी रमणा,
स्वामी जय लक्ष्मी रमणा ।
सत्यनारायण स्वामी,
जन पातक हरणा ॥</p>
                  
                  
                 
   </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>


  </body>

</html>