<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6></h6>
          <h2>॥ श्री शनि चालीसा ॥</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>॥ श्री शनि चालीसा ॥<</span>
                  </div>
                  
                  <a href="shani-chalisa.html"><img src="https://srm-cdn.a4b.io/images/library/e10194b9-83ae-4bdb-acda-f9e9bc50588c.png" alt="Shani Chalisa"></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>॥ श्री शनि चालीसा ॥</h4></a>
                  <p>

शनि चालीसा का पाठ जीवन में आने वाले कष्टों, विशेष रूप से शनि की साढ़े साती और ढैय्या के प्रभावों से मुक्ति दिलाता है। यह व्यक्ति में धैर्य, सहनशीलता और मानसिक स्थिरता लाता है, साथ ही न्याय और कर्म के सिद्धांतों पर आधारित होकर सही फल दिलाता है। शनि चालीसा नकारात्मक ऊर्जा, शत्रुओं और बुरे प्रभावों से रक्षा करता है, जिससे जीवन में सुरक्षा, शांति और संतोष बना रहता है। इसके अलावा, आर्थिक संकटों से मुक्ति, समृद्धि और शारीरिक एवं मानसिक स्वास्थ्य में भी सुधार होता है।
</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"></a>
               <h3><strong>॥ श्री शनि चालीसा ॥</strong></h3><br/>
            <h3>
             <br><br>
            

  जय जय श्री शनिदेव, दयाला।<br>
  करत सदा भक्तन प्रतिपाला॥<br><br>

  चरण शरण जेते नर आवे।<br>
  राक्षस निकट नहिं तहं जावे॥<br><br>

  जयति जयति शनिदेव दयाला।<br>
  पूजत शनि दिन हरै विषाला॥<br><br>

  कोटि रवि जो तव प्रभु माहीं।<br>
  ताते तेज न कोऊ साहीं॥<br><br>

  देव दनुज ऋषि मुनि सुर सारे।<br>
  जग शनि तेज अघाते प्यारे॥<br><br>

  जयति जय शनि देव तुम्हारा।<br>
  जन पर कृपा को बहु सारा॥<br><br>

  सूर्य पुत्र प्रभु शनि महाराज।<br>
  तव प्रताप भये जगत में साज॥<br><br>

  प्रगट भये शिव के सब तात।<br>
  कृपा कर शनि देव की नात॥<br><br>

  चढ़ी रथ पर कर के सवारी।<br>
  भय दिखावत चकित विचारी॥<br><br>

  नाम तिहारो जग में प्यारा।<br>
  होत सहाय देत दुःख हारा॥<br><br>

  शनिदेव देवता की सेवा।<br>
  सुखी रहे सदा भव से भेवा॥<br><br>

  जय शनि महाराज सदा दाता।<br>
  कर कृपा भक्त को दे सुखदायता॥<br><br>

  जो यह शनि चालीसा गावें।<br>
  नित नव मंगल सुख पावें॥<br><br>

  ॥ दोहा ॥<br><br>

  जय जय श्री शनिदेव, भक्तन हितकारी।<br>
  सुर नर मुनि आरत मिटावे, सब सुख के दाता।
            </h3></div>
                  
                  
                 
    </script>
    </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>


  </body>

</html>