<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6></h6>
          <h2>  ॥ श्री शिव चालीसा ॥</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>  ॥ श्री शिव चालीसा ॥<</span>
                  </div>
                  
                  <a href="shiv-chalisa.html"><img src="https://srm-cdn.a4b.io/images/library/09d0af6d-f0c6-424a-8079-757e7e885ff9.png" alt="Shiv Chalisa"></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>  ॥ श्री शिव चालीसा ॥</h4></a>
                  <p>
शिव चालीसा भगवान शिव को समर्पित 40 पदों का स्तोत्र है, जो उनके अद्भुत शक्ति, करुणा, और संहारक रूप की महिमा का गुणगान करता है। इसके पाठ से भक्तों को सभी प्रकार के भय, रोग, और नकारात्मक शक्तियों से मुक्ति मिलती है, और उन्हें आंतरिक शांति और मानसिक स्थिरता प्राप्त होती है। शिव चालीसा का नियमित पाठ जीवन के कष्टों को दूर कर सफलता, शांति, और समृद्धि की प्राप्ति का मार्ग प्रशस्त करता है। यह व्यक्ति को आध्यात्मिक विकास की ओर अग्रसर करता है और भगवान शिव की कृपा से उसे भौतिक और आध्यात्मिक जीवन में संतुलन प्राप्त होता है।





</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"></a>
               <h3><strong>  ॥ श्री शिव चालीसा ॥</strong></h3><br/>
                   <h3>
 <br><br>
  जय गणेश गिरिजा सुवन, मंगल मूल सुजान।<br>
  कहत अयोध्यादास तुम, देहु अभय वरदान॥<br><br>

  जय गिरिजा पति दीन दयाला। सदा करत सन्तन प्रतिपाला॥<br>
  भाल चन्द्रमा सोहत नीके। कानन कुण्डल नागफनी के॥<br><br>

  अंग गौर शिर गंग बहाये। मुण्डमाल तन छार लगाये॥<br>
  वस्त्र खाल बाघम्बर सोहे। छवि को देखि नाग मन मोहे॥<br><br>

  मैना मातु की ह्वै दुलारी। बाम अंग सोहत छवि न्यारी॥<br>
  कर त्रिशूल सोहत छवि भारी। करत सदा शत्रुन क्षयकारी॥<br><br>

  नन्दि गणेश सोहै तहँ कैसे। सागर मध्य कमल हैं जैसे॥<br>
  कार्तिक श्याम और गणराऊ। या छवि को कहि जात न काऊ॥<br><br>

  देवें सब ही तुमको शीरसा। तुम्हरो यश गावत सदा सुरसा॥<br>
  ब्रह्मा विष्णु तुम्हे नित ध्यावैं। नारद शारद शीश नवावैं॥<br><br>

  प्रेत मुछन्दित सो सब ही। जो कोई तुमरी शरण परही॥<br>
  जो तुम्हरी भक्ति को लावे। सब सुख सम्पत्ति सहज पावें॥<br><br>

  तुम दयालु जन के प्रभु सदा। तुमरे सेवक को रहे न सदा॥<br>
  जगत इस प्रकार शरण बनावै। संकट में सदा भव से त्रावै॥<br><br>

  करो कृपा हो देवा दयाला। जय जय जय भोले त्रिपुरारी॥<br><br>

  ॥ दोहा ॥<br><br>
  शिव शंकर को जो ध्यावे। रोग दोष वह सभी मिटावे॥<br>
  पूर्ण यश नाम सुनके। परम भक्ति देवेश सुनके॥
</h3>
                   </div>
                  
                  
                 
    </script>
    </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>


  </body>

</html>