<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>श्री शिवरात्रि आरती</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>श्री शिवरात्रि आरती</span>
                  </div>
                  
                  <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library//8be07e90-6dd2-44f0-80f7-2f85bc8af287.png" alt=""></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>श्री शिवरात्रि आरती</h4></a>
शिवरात्रि का अर्थ होता है, वह रात्रि जो आनंद प्रदायिनी है और जिसका शिव के साथ विशेष संबंध है। मान्यता है कि जहां- जहां भी शिवलिंग स्थापित है, उस स्थान पर भगवान शिव का स्वयं आगमन होता है।

मान्यता है कि जो भी जातक महाशिवरात्रि को उत्साह के साथ मनाते हैं उन्हें नरक से मुक्ति मिलती है और आत्मा की शुद्धि होती है। इसलिए शिव की पूजा के साथ आरती और आराधना करने की परंपरा है।
                  

</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"><h1 style= color:black>श्री शिवरात्रि आरती</h1></a><br/>
               
<h3><strong>॥श्री शिवरात्रि आरती॥</strong></h3>
<p>आ गई महाशिवरात्रि पधारो शंकर जी,<br/>
हो पधारो शंकर जी।<br/>
आ गई महाशिवरात्रि पधारो शंकर जी,<br/>
हो पधारो शंकर जी।।<br/>
<strong>आरती उतारें पार उतारो शंकर जी,<br/>
हो उतारो शंकर जी।।</strong></p>
<p>तुम नयन नयन में हो, मन धाम तेरा,<br/>
हे नीलकंठ है कंठ, कंठ में नाम तेरा,<br/>
हो देवों के देव, जगत में प्यारे शंकर जी,<br/>
हो पधारो शंकर जी।<br/>
आ गई महाशिवरात्रि पधारो शंकर जी,<br/>
हो पधारो शंकर जी।।<br/>
<strong>आरती उतारें पार उतारो शंकर जी,<br/>
हो उतारो शंकर जी।।</strong></p>
<p>तुम राज महल में, तुम्ही भिखारी के घर में,<br/>
धरती पर तेरे चरण, मुकुट है अम्बर में,<br/>
संसार तुम्हारा एक हमारे शंकर जी,<br/>
हो पधारो शंकर जी।<br/>
आ गई महाशिवरात्रि पधारो शंकर जी,<br/>
हो पधारो शंकर जी।।<br/>
<strong>आरती उतारें पार उतारो शंकर जी,<br/>
हो उतारो शंकर जी।।</strong></p>
<p>तुम दुनिया बसाकर, भस्म रमाने वाले हो,<br/>
पापी के भी रखवाले, भोले भाले हो,<br/>
दुनियां में भी दो दिन तो गुजारो शंकर जी,<br/>
हो पधारो शंकर जी।<br/>
आ गई महाशिवरात्रि पधारो शंकर जी,<br/>
हो पधारो शंकर जी।।<br/>
<strong>आरती उतारें पार उतारो शंकर जी,<br/>
हो उतारो शंकर जी।।</strong></p>
<p>क्या भेट चढ़ाये, तन मैला घर सुना है,<br/>
ले लो आंसू के गंगाजल का नमूना है,<br/>
आ करके नयन में चरण पखारो शंकर जी,<br/>
हो पधारो शंकर जी।<br/>
आ गई महाशिवरात्रि पधारो शंकर जी,<br/>
हो पधारो शंकर जी।।<br/>
<strong>आरती उतारें पार उतारो शंकर जी,<br/>
हो उतारो शंकर जी।।</strong></p>
                  
                  
                 
</div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>



  </body>

</html>