<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Divine Connect Online Puja Services">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Divine Connect Online Puja Services</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/lightbox.css">

</head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Divine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              Divine Connect
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li><a href="panchang">Panchang</a></li>
              <li><a href="astrology">Astrology</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">Library</a>
                <ul class="sub-menu">
                  <li><a href="aarti.html">Aarti</a></li>
                  <li><a href="chalisa.html">Chalisa</a></li>
                  <li><a href="mantra.html">Mantra</a></li>
                  <li><a href="puja.html">Puja</a></li>
                  <li><a href="vedic-astrology.html">Vedic Astrology</a></li>
                </ul>
              </li>
              <li><a href="featuredpuja">Featured Puja</a></li>
              <li><a href="contact-us">Contact Us</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                <ul class="sub-menu">
                  <li><div id="google_translate_element"></div></li>
                </ul>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Heading -->
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6></h6>
          <h2> भगवान शिव के मंत्र</h2>
        </div>
      </div>
    </div>
  </section>

  <!-- Mantra Section -->
  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="meeting-single-item">
            <div class="thumb">
              <div class="price">
                <span> भगवान शिव के मंत्र</span>
              </div>
              <img src="https://srm-cdn.a4b.io/images/library//f6157823-ab26-4835-b041-38d7195de734.png" alt="भगवान शिव">
              <div class="down-content">
              
                <div style="text-align:center">
                  <div class="flex flex-col md:flex-row max-w-screen-xl mx-auto w-full px-4 md:px-0">
                    <div class="flex flex-col md:border-r border-BLACK-20 md:w-[750px] md:shrink-0">
                      <div class="flex">
                        <h1 class="inline m-0 text-[32px] font-bold md:text-[56px] text-BLACK-100">भगवान शिव के मंत्र </h1><br>
                      </div>
                      <div class="flex pt-4">
                        <p class="inline m-0 text-base font-medium md:text-2xl text-BLACK-60">पढ़ें भगवान शिव के मंत्र अर्थ और उनके लाभ</br></br></p>
                      </div>
                      <div class="flex pt-4">
                        <hr class="text-BLACK-20 w-full"/>
                      </div>
                      <div class="pt-4 text-base font-medium md:text-2xl text-BLACK-60 text-justify md:pr-12 article-content">
                        <h1><strong>भगवान शिवजी के मंत्र: अर्थ और लाभ</strong></h1><br>
                        <p>भारत में भगवान शिव को पूजने वाले भक्तों की संख्या करोड़ों में है। कहा जाता है कि सृष्टि की रक्षा के लिए विषपान करने वाले भोलेनाथ अपने भक्तों की हर मनोकामना को बहुत जल्द पूरी करते हैं।</p>
                        <p>अगर आप शिव जी की अधिक कृपा पाना चाहते हैं, तो आपको कुछ विशेष मंत्रों का जाप करना चाहिए।</p>
                       <br> <h2><strong>लेख में-</strong></h2><br>
                        <ol>
                          <li>शिव षडाक्षरी मंत्र का जाप करें।</li>
                          <li>मृत्युंजय मंत्र।</li>
                          <li>शिव गायत्री मंत्र।</li>
                        </ol>

                        <br><h3><strong>1. शिव षडाक्षरी मंत्र का जाप करें</strong></h3><br>
                        <blockquote>
                          <p><strong>ॐ नमः शिवाय।</strong></p>
                        </blockquote>
                        <p><strong>मंत्र का अर्थ:</strong> जिनमें समस्त संसार का सार विराजमान है, जो स्वयं ओमकारमय हैं, ऐसे शिव को मैं नमन करता हूं।</p>
                        <p><strong>मंत्र का लाभ:</strong> यह ध्यान और एकाग्रता में सहायक है और निरोगी काया प्राप्त करने में मदद करता है।</p>

                        <h3><strong>2. मृत्युंजय मंत्र</strong></h3>
                        <blockquote>
                          <p><strong>ॐ त्र्यम्बकं यजामहे सुगन्धिं पुष्टिवर्धनम्,<br>
                            उर्वारुकमिव बन्धनान् मृत्योर्मुक्षीय मामृतात् ॥</strong></p>
                        </blockquote>
                        <p><strong>मंत्र का अर्थ:</strong> हे तीन नेत्रों वाले महादेव, हमें जन्म-मृत्यु के चक्र से मुक्त कर मोक्ष प्रदान करें।</p>

                        <h3><strong>3. शिव गायत्री मंत्र</strong></h3>
                        <blockquote>
                          <p><strong>ॐ तत्पुरुषाय विद्महे महादेवाय धीमहि।<br>
                            तन्नो रुद्रः प्रचोदयात्।</strong></p>
                        </blockquote>
                        <p><strong>मंत्र का लाभ:</strong> इस मंत्र के जाप से समस्त पापों का नाश होता है और मनुष्य का कल्याण होता है।</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </script>
    </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>


  <!-- JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/lightbox.js"></script>
  <script src="assets/js/custom.js"></script>

</body>

</html>