<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>श्री विश्वकर्मा जी की आरती</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>श्री विश्वकर्मा जी की आरती</span>
                  </div>
                  
                  <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library//41938266-2799-4e7c-b7d8-7692aad832d8.png" alt=""></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>श्री विश्वकर्मा जी की आरती</h4></a>
                  <p>हिन्दू धर्म में विश्वकर्मा को निर्माण एवं सृजन का देवता माना जाता है। सोने की लंका का निर्माण भी उन्होंने ही किया।

मान्यता है कि भगवान विश्वकर्मा की पूजा एवं आरती करने से भक्तों की सभी मनोकामनाएं पूरी होती हैं। साथ ही व्यापार में तरक्की और उन्नति होती है।

                  

</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"><h1 style= color:black>श्री विश्वकर्मा जी की आरती</h1></a><br/>
               
<h3><strong>॥श्री विश्वकर्मा जी की आरती॥</strong></h3>
<p>प्रभु श्री विश्वकर्मा घर आवोप्रभु विश्वकर्मा।</p>
<p>सुदामा की विनय सुनी और कंचन महल बनाए।<br/>
सकल पदारथ देकर प्रभु जी दुखियों के दुख टारे॥<br/>
<strong>प्रभु श्री विश्वकर्मा घर आवोप्रभु विश्वकर्मा।</strong></p>
<p>विनय करी भगवान कृष्ण ने द्वारकापुरी बनाओ।<br/>
ग्वाल बालों की रक्षा की प्रभु की लाज बचाओ॥<br/>
<strong>प्रभु श्री विश्वकर्मा घर आवोप्रभु विश्वकर्मा।</strong></p>
<p>रामचंद्र ने पूजन कीतब सेतु बांध रचि डारो।<br/>
सब सेना को पार किया प्रभु लंका विजय करावो॥<br/>
<strong>प्रभु श्री विश्वकर्मा घर आवोप्रभु विश्वकर्मा।</strong></p>
<p>श्री कृष्ण की विजय सुनो प्रभु आके दर्श दिखावो।<br/>
शिल्प विद्या का दो प्रकाश मेरा जीवन सफल बनावो॥<br/>
<strong>प्रभु श्री विश्वकर्मा घर आवोप्रभु विश्वकर्मा।</strong></p>
                  
                  
                 
    </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>



  </body>

</html>