<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Divine Connect Online Puja Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Pray Daily With <em> Devine Connect</em>.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-language"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Divine Connect
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="panchang">Panchang</a></li>
                          <li><a href="astrology">Astrology</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Library</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Aarti</a></li>
                                  <li><a href="meeting-details.html">Chalisa</a></li>
                                  <li><a href="meeting-details.html">Mantra</a></li>
                                  <li><a href="meeting-details.html">Puja</a></li>
                                  <li><a href="meeting-details.html">Vedic Astrology</a></li>
                              </ul>
                          </li>
                          <li><a href="featuredpuja">Featured Puja</a></li> 
                          <li> <a href="contact-us">contact Us</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)"><i class="fa fa-language"></i></a>
                            <ul class="sub-menu">
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>श्री विष्णु जी की आरती</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>श्री विष्णु जी की आरती</span>
                  </div>
                  
                  <a href="meeting-details.html"><img src="https://srm-cdn.a4b.io/images/library//3238d515-bc09-47f8-88f5-8ef2ce22ee8d.png" alt=""></a>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>श्री विष्णु जी की आरती</h4></a>
                  <p>भगवान विष्णु संसार के पालनकर्ता हैं और सच्ची श्रद्धा से आराधना और आरती करने पर भक्तों के सभी कष्टों का निवारण करते हैं।

भगवान विष्णु की आरती करते हुए उनसे प्रार्थना करनी चाहिए कि वो हमारे जीवन के सभी संकटों से मुक्ति प्रदान करें। सच्चे मन से की गई स्तुति एवं आरती से भगवान शीघ्र ही प्रसन्न होते हैं और भक्तों का कल्याण करते हैं।

                  

</p><br/>
                 
                   <div style = text-align:center><a href="meeting-details.html"><h1 style= color:black>श्री विष्णु जी की आरती</h1></a><br/>
               
<h3><strong>||श्री विष्णु जी की आरती||</strong></h3>
<p>ॐ जय जगदीश हरे,<br/>
स्वामी जय जगदीश हरे।<br/>
भक्त जनों के संकट,<br/>
दास जनों के संकट,<br/>
क्षण में दूर करे।।<br/>
<strong>।। ॐ जय जगदीश हरे।।</strong></p>
<p>मात पिता तुम मेरे,<br/>
शरण गहूं मैं किसकी,<br/>
स्वामी शरण गहूं मैं किसकी।<br/>
तुम बिन और न दूजा,<br/>
आस करूं मैं जिसकी।।<br/>
<strong>।।ॐ जय जगदीश हरे ।।</strong></p>
<p>तुम पूरण परमात्मा,<br/>
तुम अंतर्यामी,<br/>
स्वामी तुम अंतर्यामी।<br/>
पारब्रह्म परमेश्वर,<br/>
तुम सब के स्वामी।।<br/>
<strong>।।ॐ जय जगदीश हरे।।</strong></p>
<p>तुम करुणा के सागर,<br/>
तुम पालनकर्ता,<br/>
स्वामी तुम पालनकर्ता।<br/>
मैं मूरख खल कामी,<br/>
कृपा करो भर्ता।।<br/>
<strong>।।ॐ जय जगदीश हरे।।</strong></p>
<p>तुम हो एक अगोचर,<br/>
सबके प्राणपति,<br/>
स्वामी सबके प्राणपति।<br/>
किस विधि मिलूं दयामय,<br/>
तुमको मैं कुमति।।<br/>
<strong>।।ॐ जय जगदीश हरे।।</strong></p>
<p>दीनबंधु दुखहर्ता,<br/>
ठाकुर तुम मेरे,<br/>
स्वामी ठाकुर तुम मेरे<br/>
अपने हाथ उठाओ,<br/>
द्वार पड़ा मैं तेरे।।<br/>
<strong>।।ॐ जय जगदीश हरे।।</strong></p>
<p>विषय विकार मिटाओ,<br/>
पाप हरो देवा,<br/>
स्वामी पाप हरो देवा।<br/>
श्रद्धा भक्ति बढ़ाओ,<br/>
संतन की सेव।।<br/>
<strong>।।ॐ जय जगदीश हरे।।</strong></p>
<p>श्री जगदीश जी की आरती,<br/>
जो कोई नर गावे,<br/>
स्वामी जो कोई नर गावे।<br/>
कहत शिवानन्द स्वामी,<br/>
सुख संपत्ति पावे।।<br/>
<strong>।।ॐ जय जगदीश हरे।।</strong></p>
<p>ॐ जय जगदीश हरे,<br/>
स्वामी जय जगदीश हरे।<br/>
भक्त जनों के संकट,<br/>
दास जनों के संकट,<br/>
क्षण में दूर करे।।<br/>
<strong>।।ॐ जय जगदीश हरे।।</strong></p>
                  
                  
                 
   </div></div></div></div> </div> <div class="footer">
    <p>Copyright © 2024 Divine Connect. All Rights Reserved.
      <br>Design by: <a href="/" class="logo" target="_parent" title="free css templates">DIVINE CONNECT</a>
      <br>Distributed by: <a href="/" class="logo" target="_blank" title="Build Better UI, Faster">DIVINE CONNECT</a>
    </p>
  </div>
</body>



  </body>

